[2020-06-27 22:01] ZaxonXP commented on #1012
OK. I will try this. Thanks!

[2020-06-27 22:01] #1012 closed

[2020-06-27 22:28] mredaelli commented on #710
I have the same problem with nextcloud. Could the fix be similarly straightforward?

[2020-06-28 03:41] scateu commented on #710
@mredaelli Yes. Since nextCloud share the same API with ownCloud, I believe it's here: https://github.com/newsboat/newsboat/blob/master/src/ocnewsapi.cpp#L157

However I don't have an instance of nextCloud/ownCloud, maybe you can patch it and file a pull request.

[2020-06-28 09:00] Minoru commented on #998
@dermitdemdino, have your question been answered?

[2020-06-28 09:28] chux0519 commented on #941
I think i've fixed this issue.

![newsboat-ttrss-after](https://user-images.githubusercontent.com/14276970/85943745-8e179600-b964-11ea-8dfe-2a004cf6236a.png)

[2020-06-28 13:12] Minoru commented on #1014
@OnionMilk Did my comment resolve the problem?

[2020-06-28 15:05] #941 closed

[2020-06-29 01:41] chux0519 commented on #895
Have you tried [sccache](https://github.com/mozilla/sccache)
Setting $RUSTC_WRAPPER to `sccache`, it should help

[2020-06-29 08:22] Minoru commented on #895
@chux0519 Thanks! Tried it just now, but didn't see any change. I think that proves that the slowness comes from linking, not compilation itself.

[2020-06-29 11:41] Minoru commented on #631
Upon re-reading this issue, it becomes clear to me that it was a mistake to make the new parser store numbers as integers. We should've mimicked the old parser's behaviour, and store them as strings. That would make the results directly comparable, making it almost trivial to check for regressions. I am now working on a PR that undoes this mistake.

I still believe in everything I wrote in https:/

[2020-06-29 12:00] Minoru opened #1053 "Make filter expressions a typed language"
As explained in https://github.com/newsboat/newsboat/pull/701#issuecomment-593002181, the original `FilterParser` and `Matcher` work with strings: the values of the attributes (`title`, `author`, `age` etc.) and the right-hand-side values in expressions are stored as strings (even numbers and regular expressions). As a result, some obviously-invalid expressions like `title =~ 42` are accepted by t

[2020-07-01 08:25] ZaxonXP opened #1064 "Compiling under Docker - cargo module and json are missing."
OS: Debian 10 buster

I downloaded the source code of the newsboat `newsboat-2.20.1.tar.xz` and the docker file `ubuntu_20.04-build-tools.dockerfile` then did the following commands:
[code]
This went well. But the following not:
[code]
I got the error saying that cargo module is missing:
[code]
So I modified the docker file (added cargo in line 65) and rebuilded the docker image then ran compilati

[2020-07-01 09:13] ZaxonXP commented on #1064
I also noticed from the build log that the following packages are missing:
[code]
Which packages are missing from the Ubuntu docker image?

[2020-07-01 09:38] Minoru commented on #1064
Cargo ought to be installed with Rustup [on line 87](https://github.com/newsboat/newsboat/blob/96a4f6d97917f63aafebbf27f95f07fbb23ddf38/docker/ubuntu_20.04-build-tools.dockerfile#L87). Let's check that:

[code]

You should have the same path to `cargo` as shown above. Even if you remove the `--mount type=bind,source=$HOME/.cargo,target=/home/builder/.cargo`, it should be the same. If it's differen

[2020-07-01 12:55] mbwgh commented on #685
I just got hit hard by this, lost about 4k entries.
Is there a way to make the DB immutable (except for adding new entries of course)?

[2020-07-01 13:00] Minoru commented on #685
@mbwgh Ouch, sorry to hear that! No, there is no way to make it immutable, and very little point—how would you e.g. mark items read? The best strategy against this kind of bugs is to make backups regularly.

[2020-07-01 14:12] dennisschagt commented on #685
From some previous debugging, it looks like the items are removed when the cache is cleaned up (happens when Newsboat is closed).
It looks like this issue does not result in loss of data when the setting [`cleanup-on-quit`](https://newsboat.org/releases/2.20/docs/newsboat.html#cleanup-on-quit) is set to `no`.

[2020-07-01 14:19] ZaxonXP commented on #1064
So it looks like I need to modify the docker file to do all the operations inside the container and only then copy the AppImage package outside. Thanks for pointing that out.

[2020-07-01 14:28] Minoru commented on #1064
That's one approach, but I believe you should be able to use our Dockerfile without modifications, and run AppImage command with `docker run` (same as you ran `make -j9` inside the container on the files *outside* the container).

I'm still interested in figuring out what's going on with Cargo there, so let's reopen this. Have you tried to examine the container the way I showed, @ZaxonXP?

[2020-07-01 15:36] ZaxonXP commented on #1064
OK. I rebuilded the docker image with following commands:
[code]
Then I checked with the following commands:
[code]
[code]
So in my case I do not have cargo installed, despite the fact that it downloads see the log
[log_01.txt](https://github.com/newsboat/newsboat/files/4858835/log_01.txt)

[2020-07-01 18:46] der-lyse commented on #1064
I had the exact same problem a couple of days ago when I needed to rebuild the container (can't remember the reason). When building the Ubuntu 18.04 docker container `cargo` will now be installed into */home/builder/.rustup/toolchains/1.43.1-x86_64-unknown-linux-gnu/bin* for some reason. I don't know where it was located previously, but it was definitely somewhere in my `PATH`. I simply added this

[2020-07-01 19:58] dennisschagt commented on #685
It looks like this issue is the result of several combined behaviors of Newsboat.

Taking the provided reproduction steps as guidance:

| # | Step | Remarks  |
|---|---|---|
| 1 | Open rss feed with an unread entry (A) and another entry (B) | - |
| 2 | Search so that only entry (B) is shown. | This creates a new ItemListFormAction with a dummy feed populated with the searchresults (expected behavi

[2020-07-01 20:31] ZaxonXP commented on #1064
@der-lyse: Indeed, also in my case the `cargo` end up in the same strange location. Thanks for the tip. :)

[2020-07-02 20:40] Minoru commented on #1064
@ZaxonXP, I created a Debian 10.4 VM and reproduced the problem there. I've no idea why it behaves like this :( I'm running Debian testing on my laptop, and it works fine there, as well as on CI. I'm investigating.

[2020-07-02 21:04] Minoru commented on #1064
Got it. `docker run --mount type=bind,source=$HOME/.cargo,target=/home/builder/.cargo …` does just what it says on the tin — it replaces ~/.cargo inside the container with the host's ~/.cargo. Since I happen to have rustup installed on the host as well, my host's ~/.cargo already contains all the binaries that rustup installs. These binaries are architecture-dependent, but since Docker runs on hos

[2020-07-02 21:08] ZaxonXP commented on #1064
So mystery solved. Good. :)

[2020-07-02 21:08] #1064 closed

[2020-07-04 10:44] #859 closed

[2020-07-04 19:45] q3cpma opened #1068 "Feature request: put the generated manpages in the release tarball"
Hello,
would be nice to avoid installing a boatload of Ruby dependencies (including Ruby itself) just for that.

[2020-07-04 19:59] Minoru commented on #1068
Hi. Me and you already discussed this in https://github.com/newsboat/newsboat/pull/747, and my position hasn't changed since: tarballs should contain source code, not half-built artifacts.

[2020-07-04 19:59] #1068 closed

[2020-07-04 20:03] q3cpma commented on #1068
Whoops, forgot this discussion had already taken place.

[2020-07-04 20:08] q3cpma commented on #1068
Maybe a way to download them on the website would do the trick?

[2020-07-04 20:10] q3cpma commented on #1068
Like a "download raw (ROFF)" button in the documentation section.

[2020-07-04 20:12] Minoru commented on #1068
Is that really easier than just installing Asciidoctor and running `make doc`?

[2020-07-04 20:15] q3cpma commented on #1068
It's probably not easier, but being on Gentoo, it means compiling all of these and bloating the system just for a one time manpage build.

But to be honest, I'm not lacking anything being "stuck" on 2.18, so no biggie.

[2020-07-05 08:22] dermitdemdino commented on #998
Yes.

[2020-07-05 09:21] Minoru commented on #998
Cool! I'm closing this, then.

[2020-07-05 09:21] #998 closed

[2020-07-05 14:43] Minoru commented on #1014
No response in two weeks, and I'm fairly certain that the failure is caused by an incompatible json-c version. Closing.

Please comment if applying the patch from #883 doesn't fix the problem.

[2020-07-05 14:43] #1014 closed

[2020-07-05 14:44] Minoru commented on #1034
@serprinss Did that help at all? Did you manage to get it to compile?

[2020-07-05 20:13] Minoru commented on #685
@dennisschagt, thanks for investigating! :+1:

I don't have better ideas.

Yeah, I guess a new `SearchResultsListFormAction` (gosh…) can inherit from `ItemListFormAction`, block some operations in `process_operation`, and delegate everything else to the base class. Basically, it should disable all the ways to exit it other than `quit`.

I'm not too happy solving this through inheritance, since it

[2020-07-07 18:01] Minoru opened #1077 "Replace string constants with a proper enum in FilterParser"
#1076 adds three string constants to `FilterParser`: `EXPECTED_ATTRIBUTE_NAME`, `EXPECTED_OPERATORS`, and `EXPECTED_VALUE`. These are used to indicate what made the parser fail. We *had to* use strings because Nom 5 doesn't allow anything else for its `context` combinator.

Nom 6 relaxes the requirement (https://github.com/Geal/nom/issues/1131), so once that's released, we should migrate and repla

[2020-07-08 19:38] doneforaiur commented on #412
Bump. An option to put three dashes between feeds when they are `feed-sort-order firsttag`ged would be great.

[2020-07-08 19:57] Minoru commented on #412
@doneforaiur As far as I understand, the idea here was to group feeds together like this:

[code]

That only works as long as `feed-sort-order none` is used, i.e. feeds are shown in the order they're listed in the urls file. If any other sorting is used, the groups are broken up, which IMHO makes them useless. @doneforaiur, given the above urls file, can you show how the feedlist should look under

[2020-07-08 20:16] CRMemory commented on #412
I think @doneforaiur and my proposals are similar but different: My original proposal had `feed-sort-order none` in mind (i.e. separators as listed in the urls file. The issue is that sorting by `firsttag` also sorts the tags alphabetically but I have a logic of the feeds/tags in the urls file.

Taking the urls file as @Minoru has shown: I guess with the `feed-sort-order none` the feed list should

[2020-07-08 20:55] doneforaiur commented on #412
@CRMemory, yes, that's exactly how I imagined it. Altough as @Minoru said, it makes `firsttag` obselete. It would be nice to have an indicator when `feed-sort-order firsttag` is set. It's a minor improvement but the fact that `---` is clickable and counts as a feed seems unnecesary, as @CRMemory also mentioned in their second post.

[2020-07-09 09:35] #633 closed

[2020-07-09 10:33] Minoru commented on #412
@doneforaiur Got it. Given we haven't implemented the "simple" separators yet, I've no idea when we'll get around to the fancier ones that you're describing. But please do file an issue about them, mentioning this one. (I want a separate issue because this one is about "simple" separators, and it will be closed once those are implemented).

Can you file a separate issue describing your use-case wh

[2020-07-09 10:36] pickfire commented on #633
@Minoru Solved, time to port some other parts to rust, anything you want me to help out with?

[2020-07-09 10:55] Minoru commented on #633
@pickfire As always, take a look at [the rust-port label](https://github.com/newsboat/newsboat/labels/rust-port) and see if there's something you'd like to work on.

[2020-07-09 14:16] pickfire commented on #895
This is not possible, @Minoru you may want to learn test filtering. Check out `rustup man cargo-test` **Target Selection**, one could use `--lib` or `--test fslock` or `--doc`. Or if you prefer the online documentation https://doc.rust-lang.org/cargo/commands/cargo-test.html

[2020-07-09 14:31] pickfire commented on #631
Looks like some sort of performance log, I believe I can look into this.

[2020-07-09 16:17] Minoru commented on #631
Don't reserve it if you aren't going to work on it just yet ;)

[2020-07-09 19:46] Eucyon opened #1081 "Command line history keeps the first 100 entries, not the last 100"
After inputting 100 commands, the command history is not updated any more.

**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
[code]

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):
[code]

Steps to reproduce the issue:

1. Enter 100 commands into newsboat or modify file ~/.newsboat/history.cmdline so that it contains 101 commands.

2

[2020-07-10 11:04] dennisschagt commented on #1081
I can reproduce this issue, thank you for the report.

[2020-07-11 09:02] edi9999 opened #1083 "Podboat : When the title of an episode contains `/`, it should not add a folder"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:

[code]

Steps to reproduce the issue:

1. For the following RSS podcast : https://rss.acast.com/les-couilles-sur-la-table

2. One of the title of the podcasts is : `Nourrir son homme : le bon steak et le joli morceau (2/2)`

3. When enqueuing that episode to podboat, then downloading it, it will create a fold

[2020-07-11 19:26] Minoru commented on #1083
Thanks for the report, @edi9999, but this is a duplicate of #836. Please subscribe there to get a notification when it's fixed.

[2020-07-11 19:26] #1083 closed

[2020-07-11 19:48] #1081 closed

[2020-07-12 11:56] ibispi opened #1086 "europeandataportal.eu feed not parsed correctly"
Posting this for a friend who doesn't have a github account:

"I placed [this feed](https://www.europeandataportal.eu/data/search/en/feeds/datasets.rss?locale=en&country=&catalog=&categories=&keywords=&format=&licence=&query=food&page=1) in my newsboat `urls` file.
When I load/reload the feed, 0 items are fetched even though I see 10 `<item>`s when opening the URL in a browser.
Is this a newsboat’

[2020-07-12 13:12] Minoru commented on #1086
I reproduced this with current HEAD, https://github.com/newsboat/newsboat/commit/9813f9141a38f07c13c6778e9f477f74266b45ed.

There is a problem with the feed: it starts as if it's an RSS 2.0 document, but uses http://www.w3.org/2005/Atom as the default namespace. As a result, `rss`, `item` and other tags are ignored by the parser, since they aren't "RSS tags". All it takes for the publisher to fix

[2020-07-12 16:26] Minoru commented on #1034
@serprinss, ping.

[2020-07-13 13:00] dennisschagt opened #1087 "Second search from same article list overwrites results of first search"
**Newsboat version**: Newsboat r2.20

Config file: Empty

urls file:
[code]

Steps to reproduce the issue:

1. Enter the first feed (first reload to make sure it contains items)

2. Search for `2.19` (results in one article being found)

3. Press `v`, `DOWN`, `ENTER` (goes back to the article list without closing the search result view)

4. Search for `2.10` (results in multiple articles being fou

[2020-07-13 14:46] #441 closed

[2020-07-13 18:08] rpolve opened #1089 "Screen doesn't reflect sort order imediately after reload"
**Version:**

newsboat 2.20.1

**Config file:**

[code]

**Steps to reproduce:**

1. run newsboat

2. wait for auto-reload to complete

3. open first entry

**Expected behaviour:**

Open the highlighted feed

**Actual behaviour:**

Open the feed which after reload is the newest, as if the feed were sorted but the screen didn't reflect this.

**Other info**:

Going back to the list of feeds shows t

[2020-07-13 20:48] Minoru commented on #1089
Reproduced with https://github.com/newsboat/newsboat/commit/47137b97d09d1398c6950c8d73745966d9ed0845 (current HEAD). Thanks for the report! I'll look into this.

[2020-07-13 21:09] Minoru commented on #1089
@rpolve, if you can build from Git, please try my PR #1090. Otherwise the fix should be available in Newsboat 2.21, less than three months from now.

[2020-07-14 06:42] rpolve commented on #1089
Thank you @Minoru, I can confirm it now works as expected.

[2020-07-14 06:42] #1089 closed

[2020-07-15 17:06] dennisschagt opened #1094 "When sorting the feedslist, Newsboat automatically switches to the newest `FormAction`"
**Newsboat version**: commit d44970b584eaa43cfd119feba8ed8f3cf940a3c9 (HEAD -> master)

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):
[code]

Steps to reproduce the issue:

1. `ENTER`, `ENTER` (open an article view)

2. `v` (open the dialogs view)

3. `ENTER` (switch to feedlist view)

4. `g`, `n` (sort by `(n)one`)

Expected: Feeds are sorted and the feedlist is still b

[2020-07-15 19:49] samedamci opened #1097 "UTF-8 (Polish) characters aren't correctly displayed."
Version(s): r2.19, r2.20, r2.20.1

Config file: default

Steps to reproduce the issue:
Add any feed with Polish characters and see question marks instead of Polish characters in title or content.

Example:
Correct: `chrząszcz`
Displayed: `chrz?szcz`

Example link to Polish feed: https://feeds.feedburner.com/sekurak

[2020-07-15 22:09] Minoru commented on #1094
Strange indeed! We do something similar when spawning an external pager, or just a browser: we push an empty formaction onto the stack, call `Stfl::reset()`, then run the pager/browser, and then pop the empty formaction off the stack. Empty formacton combined with `Stfl::reset` effectively prevent Newsboat from drawing anything. But in this case, we don't call `Stfl::reset`, so what's the point?

[2020-07-16 10:55] dennisschagt commented on #1097
Those characters seem to show up correctly for me in Newsboat:
![image](https://user-images.githubusercontent.com/4629607/87662926-4c0f9200-c763-11ea-9ce9-f1c3f5cd453b.png)

I think this might be an issue with your configured locale (just a guess).
Could you post the output of `locale` and `locale -a`?

[2020-07-16 11:06] #1097 closed

[2020-07-16 13:34] #1006 closed

[2020-07-16 14:28] dennisschagt commented on #1094
Thanks, that clears it up.

It looks like it is not just an empty FormAction, it actually is an empty shared_ptr (nullptr).
The reason it works, seems to be that `View::set_status()` does not overwrite the message if the current FormAction is NULL:
https://github.com/newsboat/newsboat/blob/974207ac2b4b680a71ec808b67e6e90773089e9f/src/view.cpp#L107-L112

[2020-07-16 17:12] Minoru commented on #1094
Oh. You're exactly right ._. Looks like I've been misreading and misunderstanding that code for years!

Also, yesterday I wrote:

but it's only now that I realize: this means we have the same bug in all those other places. For example, you can open an article, press `u` to open the URLs view, then `^G` to go back to articlelist, then `o` to open the article in the browser—and you'll find yourself

[2020-07-16 18:31] Phenitei commented on #55
Additionally, it would be nice to be able to able to use newsboat from the command-line as a handler for feed MIME types. This would enable using `newsboat -<flag> %s` on a file of type `application/atom+xml` for example and have the feed added to the list of URLs (currently possible with a shell script, but it'd be nice if it were directly in newsboat).

[2020-07-16 18:36] Minoru commented on #55
As I mentioned on the IRC, it's unclear how to select from multiple feeds on the CLI. Wordpress blogs, for example, usually publish a "posts" feed and "comments" feed. ;)

[2020-07-16 20:25] dennisschagt opened #1101 "`ItemListFormAction::pos` can become invalid when sorting feeds"
**Newsboat version**: 974207ac2b4b680a71ec808b67e6e90773089e9f (master)

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):
[code]

Steps to reproduce the issue:

1. Setup a URLs file with 2 feeds, make sure they have at least 1 unread article each. Let's call them A and B

2. Open itemlist A

3. Press `v` (open dialoglist) and select the feedlist

4. Press `G` followed by `n

[2020-07-16 20:27] dennisschagt commented on #1094
I'm planning to look into your suggestion but I probably won't have time until next week.

[2020-07-16 21:00] Minoru commented on #1101
To reproduce this, I had to do a step nine: press `?` then `q` to open and close a help dialog, forcing feedlist to redraw. Without that step, both A and B had non-zero unread counts.

[2020-07-22 06:06] mrossinek opened #1103 "[FeatureRequest] Implement a 'scrolloff' option"
I frequently have more unread entries in my feed, than fit on my screen. Thus, when going through them at some point I will end up with my cursorline stuck to the bottom of the list.

It would be nice, if an option in the style of Vim's [`scrolloff`](https://vimhelp.org/options.txt.html#%27scrolloff%27) could be implemented which would allow to specify an the

By setting this option to a value oth

[2020-07-22 08:51] johnlambrini opened #1104 "Option to change color based on tags"
It should be nice to have an option to set colors based on tags in feedlist.

[2020-07-22 12:04] Minoru commented on #1103
Thanks for filing this!

Linking previous Newsbeuter issue: https://github.com/akrennmair/newsbeuter/issues/191

[2020-07-22 12:07] Minoru commented on #1104
Can you please describe a use-case for this? How are tag selection and filters not enough to achieve the same goals?

[2020-07-22 17:06] johnlambrini commented on #1104
I usually put my favorites feeds on top of my list, the feeds hare all mixed together with various topics. I would like to define a color for a topic to know straight away the topic the feed belongs to. For example i have many youtube and other video subscription i would like to make them to a different color to make it clear its a video and so on for my other tags, i think would be nice also whil

[2020-07-23 11:44] Minoru commented on #1104
Can't you achieve this by putting a "label" of sorts into the title of the feed, then use `highlight` to give the label a colour? Is there some problems with this approach?

[2020-07-23 14:15] #1103 closed

[2020-07-23 16:24] dennisschagt commented on #529
It looks like this got fixed (I can't reproduce it on current master).

Git bisect points to https://github.com/newsboat/newsboat/commit/c3e972b8a8500359f39f73cfb4466722ba3ef0a4 (part of PR https://github.com/newsboat/newsboat/pull/1088) which seems reasonable.

[2020-07-23 16:24] #529 closed

[2020-07-23 19:45] johnlambrini commented on #1104
Thanks that's exactly what i was looking for

[2020-07-23 19:45] #1104 closed

[2020-07-24 08:19] arjan-s commented on #123
I came back to Newsboat after more than a year, and found it's still as slow as ever. The difference with the Android app is still huge.
So I took a look at the API requests that Newsboat makes, and compared that to the [Nextcloud News Android app](https://github.com/nextcloud/news-android), and the [API documentation](https://github.com/nextcloud/news/blob/master/docs/externalapi/Legacy.md#how-to

[2020-07-24 09:42] ibispi commented on #1086
Posting for my friend again:

"uropeandataportal.eu fixed their feed, thanks!

Cheers

[2020-07-24 09:42] #1086 closed

[2020-07-24 10:26] Minoru opened #1108 "RSS parser should ignore default namespace"
The second best thing is for Newsboat to ignore any declarations of default namespaces in RSS feeds. RSS elements are defined outside of any namespaces, so having a default namespace is obviously an error on the publisher's part. Ignoring the default namespace should be a safe thing to do, then. I'd like to have that implemented, so I'll keep this issue open.

_Originally posted by @Minoru in http

[2020-07-24 10:35] Minoru commented on #123
It's not entirely clear what constitutes an update. Newsboat strives to have a complete copy of all the data in its cache.db, so the "update" on the OwnCloud News end should include: changing any flags, changing tags/folders, changing read status, changing the body. If that condition is met, we can indeed use that API.

It looks like the first step towards fixing this issue should be moving the AP

[2020-07-24 12:38] Minoru commented on #999
#1001 is merged now, so closing this.

[2020-07-24 12:38] #999 closed

[2020-07-26 18:05] Minoru opened #1109 "Can't mark article unread with Inoreader"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: r2.20.1-218-g2e8c2 (current HEAD)

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. start Newsboat

2. press `R` to reload all feed

3. navigate to a feed with at least one read item, enter that feed

4. find the read item, press `N` to mark it

[2020-07-26 18:08] Minoru commented on #1109
Inoreader uses the same API as The Old Reader and FeedHQ, and the code is the same. This means that either Inoreader is broken, or *our* code is broken for all three services.

[2020-07-27 13:21] JRuiBarros commented on #1109
Hello @Minoru, I'm José Rui who sent you the message reporting this bug. I've been messing with the Inoreader API directly and it seems broken to me, so I'll contact them and then let you know here their answer. Cheers!

[2020-07-27 20:39] crimsonskylark opened #1110 "Characters other than ASCII alpha-numerics replaced by underscores in file names when saving articles"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: newsboat 2.17.1 (but I also tested with 2e8c2aa58eacc669f50733d681bbf571be1f4ab5, which is the current `master`)

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Include a feed that posts content with the Cyrillic characters in the title ([lik

[2020-07-28 13:30] JRuiBarros commented on #1109
Hey @Minoru, I've managed to mark items as unread directly though the API now. I was just not using it properly yesterday, as I did not know that I needed to change the tag parameter key from 'a' to 'r'. Ups :P.
Therefore it may be a code problem. Could you point me where to start looking, as I'm totally unfamiliar with it? Cheers!

[2020-07-28 14:01] Minoru commented on #1110
Reproduced with 2e8c2aa58eacc669f50733d681bbf571be1f4ab5 too. Thanks for the report, @crimsonskylark!

Unfortunately the commit that introduced `isalnum`, https://github.com/newsboat/newsboat/commit/f41adc224451a93688373ad4203882efb9c1b102, doesn't exactly say what problem it fixed; does macOS filesystem disallow anything other than NUL and slash? I'm inclined to just revert it, but then I'll have

[2020-07-28 14:03] Minoru commented on #1109
Sure, here you go: https://github.com/newsboat/newsboat/blob/2e8c2aa58eacc669f50733d681bbf571be1f4ab5/src/inoreaderapi.cpp#L220-L231

[2020-07-28 17:44] crimsonskylark commented on #1110
I also don't have access to a MacOS machine so I can't check it. Do you think this could be fixed by a macro to only build with this function in a MacOS environment?

[2020-07-28 17:55] Minoru commented on #1110
That's a viable workaround, but before doing this, I'd like to research what might've caused the bug that `isalnum` is supposed to fix.

[2020-07-28 18:05] Minoru commented on #1110
We have macOS workers in CI, so we can also perform experiments there, e.g. by adding a test.

[2020-07-29 11:13] iandstanley opened #1112 "Newsboat snap - having problems with playing podcasts"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
[code]

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]
# Reasons why I'm using snap

I'm running latest version of raspbian  on my pi but unfortunately as it's debian based that leaves me stuck with newsboat v2.13

Certain of my podcasts I subscribe to use libsyn and other ser

[2020-07-29 15:35] Minoru commented on #1112
Hi!

What libraries do you mean? Newsboat 2.20 might not build on Debian 10 because the Rust compiler is too old there, but some of the earlier releases should, e.g. 2.14 requires Rust 1.25+ whereas Debian 10 ships 1.34.

It's how our Snap is built. Snapcraft lets us pick between "classic" and "strict" confinement. "Classic" means that the snap can invoke any program, whereas "strict" puts limits

[2020-07-29 15:47] JRuiBarros commented on #1109
Hey @Minoru, I believe I've found out the problem: I've tried to call the API on Postman the same way Newsboat does and it never returns an OK response, even though marking read works, marking unread does not. It seems to me the issue are the request parameters a=user/-/state/com.google/kept-unread", "a=user/-/state/com.google/tracking-kept-unread" and "ac=edit" that aren't even on the Inoreader A

[2020-07-29 17:31] Minoru commented on #1109
Yeah, this looks great. Looking forward to your PR. Thanks for figuring it out!

[2020-07-30 12:22] mglh opened #1116 "[Request] AppImage of latest version"
It would be nice to have an AppImage of the latest `newsboat` version available.

[2020-07-30 12:48] #1109 closed

[2020-07-30 12:53] Minoru commented on #1109
I checked The Old Reader, and toggling works fine there. I don't have a FeedHQ account, but it appears that this bug is limited to Inoreader.

[2020-07-30 12:58] Minoru commented on #1116
Sorry, but no. Experience with Snap taught me that I'm not very keen on maintaining that sort of thing. Specifically, I don't want to be responsible for prompt updates when a library like Curl gets updated. Newsboat's snap uses strict confinement, so the security updates aren't as urgent there; as far as I understand, AppImage doesn't provide confinement/sandboxing by itself.

Software distributio

[2020-07-30 12:58] #1116 closed

[2020-07-31 21:26] Minoru commented on #1034
No response from the reporter in a month, and I don't think it's a bug with Newsboat, so closing this. Please comment if the issue is still relevant—we can always re-open this.

[2020-07-31 21:26] #1034 closed

[2020-08-02 22:09] nsklaus opened #1118 "how to execute macro on a specific link ?"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
newsboat 2.20.1
System: Linux 5.7.10-artix1-1 (x86_64)
Compiler: g++ 10.1.0
ncurses: ncurses 6.2.20200212 (compiled with 6.2)
libcurl: libcurl/7.71.1 OpenSSL/1.1.1g zlib/1.2.11 libidn2/2.3.0 libpsl/0.21.0 (+libidn2/2.2.0) libssh2/1.9.0 nghttp2/1.41.0 (compiled with 7.71.1)
SQLite: 3.32.3 (compiled with 3.32.3)

[2020-08-03 19:21] #111 closed

[2020-08-03 19:21] #218 closed

[2020-08-03 20:31] Minoru commented on #1118
This *is* how Newsboat works. Did you actually try this? What errors does Newsboat display? If it doesn't, what errors does Curl print out? (You'll have to quit Newsboat to see Curl's messages).

What do you mean by "didn't accept"? Can you quote error messages?

It might be lack of DISPLAY variable. `xclip` needs it in order to talk to the X server. Are you starting Newsboat from a terminal runni

[2020-08-03 22:07] nsklaus commented on #1118
well, here, when i am on link list ("U") i cannot use macro at all. i tried like this: i highlight the link i want to work on (the 2nd link in the list) and i press `,d`  "comma" then "d". using macro like this in normal view works, but not on link list view. there is no error of any kind. just no response, no reaction. so from link list view the only way i found was to copy link to clipboard, the

[2020-08-04 12:40] dennisschagt commented on #702
In PR #1119 I have fixed this by adding an extra method to `ConfigActionHandler` which can be overridden to get the argument string without tokenizing.
https://github.com/newsboat/newsboat/commit/ed127578c5267c9b8777f27feae254b244cb2df1#diff-32b8bd4a05169381ed35c31e146efd91

[2020-08-04 19:15] Minoru commented on #1118
Hi, sorry I'm slow to respond; I have a slightly hectic schedule at the moment.

My bad: I didn't read your config as attentively as I should have, and missed the fact that you're using an external url viewer. That explains it: since you're viewing URLs in `urlscan`, you are *outside* of Newsboat, so you can't use any of Newsboat features, including macros. I don't think this can be fixed.

It say

[2020-08-04 20:25] nsklaus commented on #1118
no problem, i'm not in a hurry. thank you for answering.

interesting, i will try without urlscan then.
i had just copied config that were available to me and started tweaking from there. i had just assumed this was how it was supposed to be.

yes i dug a little bit more into this problem. as it turns out, the link itself is very long and doesn't directly point to the file. there's a hop involved.

[2020-08-05 01:28] kevin-b-lockwood opened #1120 "Option to not double count articles because they're in query feeds"
When I run `newsboat -x print-unread`, it counts all the new articles, and all the new articles in query feeds. The problem arises when I *exclusively* use query feeds, and the status bar script I wrote doesn't accurately portray how many new articles I have, because it counts articles more than once.

If there's a purpose to this, I would be glad to know, and perhaps there could be another comman

[2020-08-05 10:43] Minoru commented on #1118
Got it! I think the native URL view will provide that for you. If you want to stick with an external URL viewer, you'll have to script *that* to do what you want (e.g. look at the domain in the URL and call youtube-dl/curl/whatever).

It looks like this issue is kind of resolved now, but I'll wait for you to try using the internal URL view. Please tell me if it indeed resolves the problem!

[2020-08-05 13:00] nsklaus commented on #1118
what you're calling "internal / native url view" is the view one can get by pressing "U" key ?
once i'm there i can highlight a particular link but how do i act on it ? the only thing i could do is copy a given link to clipboard then back on normal view call a macro on that clipboard content.
that, or, still from url view "U", i can also call link-handler as you suggest but, in that case how do i

[2020-08-05 17:54] Minoru commented on #1120
Reproduced with current HEAD, 62c9b2d2918709ffacf3b24617536b4961d2f63c. I think it's just omission; there is no reason to double-count the articles when calculating how many there are. Thanks for the report, @kevin-b-lockwood!

[2020-08-05 18:13] Minoru commented on #1118
Yep!

To be fair, Newsboat doesn't *always* know the filetype either. The filetype (a MIME type, to be precise) is only known for enclosures, e.g. podcasts and their "cover images"; even then, Newsboat relies on the feed not to lie about the type (i.e. Newsboat doesn't download the file to check it). All other links — the "Link:" header before the article and the links inside the article — don't h

[2020-08-05 19:17] nsklaus commented on #1118
i will look into it, and also without link-handler too.
many thanks for the suggestions and help.

[2020-08-05 19:17] #1118 closed

[2020-08-05 20:19] Minoru commented on #1112
@iandstanley, was my comment above of any help?

[2020-08-05 21:00] Minoru commented on #1120
@kevin-b-lockwood, I submitted a pull request that fixes this. Please check it out if you can compile from source: #1121

I also discovered a workaround: if you set `prepopulate-query-feeds no` (which is the default), query feeds won't affect `-x print-unread` anymore (but you'll have to reload query feeds manually to populate them then).

[2020-08-05 21:02] kevin-b-lockwood commented on #1120
Wow, you're fast! I'll check it out if I get a chance. I do really like the prepopulation, but for the time being I may disable it until the fix is merged. Thanks a ton!

[2020-08-05 21:07] Minoru commented on #1120
I wish all bugs could be fixed as easily as this one. I spent more time refactoring tests than writing the fix :)

You can get *almost* the same experience as `prepopulate-query-feeds yes` if you enable auto-reload. That won't affect `-x print-unread`, but when you start Newsboat, it will immediately reload all feeds *and* update query feeds. There will be a small gap where query feeds appear to b

[2020-08-06 20:27] rpolve opened #1126 "quit/open ignores selected, opens hidden feed instead"
**newsboat 2.20.1**:

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. have at least two feed "A" and "B", both with unread items

2. `open` feed "A" and mark read all items

3. `quit`, feed "A" will correctly disappear (as per the instructions in the above config file)

4. now `open` next feed "B", which will have been automatical

[2020-08-06 20:40] dennisschagt commented on #1126
Reminds me of https://github.com/newsboat/newsboat/issues/72 which was caused by a bug in a library we use (stfl).

Which version of (lib)stfl are you using?

[2020-08-06 21:23] rpolve commented on #1126
I believe you're right, looks like it's the same bug. Sorry for duplicating the issue, I must have not searched thoroughly enough.

I'm usind stfl version 0.24

[2020-08-06 22:09] dennisschagt commented on #1126
No problem, especially because the referenced bug is closed (so you won't find it unless you also search through closed issues).

I created [a patch for stfl](https://patch-diff.githubusercontent.com/raw/dennisschagt/stfl/pull/4.patch) which fixes this issue.
I'm not sure it will ever get included in the official stfl svn repository (no reaction at all on the stfl mailing list. I've created [a for

[2020-08-07 14:28] JRuiBarros opened #1128 "Make Inoreader 'sort by firsttag' useful"
**newsboat 2.20.1**:

Hello everyone,

I've been pretty annoyed since I've started using Inoreader with this problem. When I wanted to sort my feed with the 'firsttag' option, I assumed it would sort it by folder name which would be pretty useful. Instead for some reason, it sorts the feed by title name, making it useless IMO since there is already an option for that.

So I started digging though

[2020-08-07 19:07] Minoru commented on #1128
Yup, sounds like a bug; tagging it as such. Thanks!

I'm not sure that changing the order is an appropriate fix, though. The same bug can probably be triggered by someone who keeps their feed URLs in ~/.newsboat/urls, or uses any other remote API. Instead, I suggest changing the sorting function, to make it skip the title tags until it finds a non-title tag. We even have tests for that (just `git

[2020-08-07 20:11] anishmittal2020 opened #1129 "Syntax of Queue File for Podboat"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:

[code]

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]
----

I want to listen to podcast: https://rss.art19.com/think-fast-talk-smart from the website: [Think Fast, Talk Smart: The Podcast](https://www.gsb.stanford.edu/insights/think-fast-talk-smart-podcast).

So I did

[code

[2020-08-07 20:19] Minoru commented on #1129
The queue file contains links to podcasts (the OGG/MP3/whatever files), their download destinations, plus a couple flags like "played". All the gory details can be found in [`QueueLoader::reload()`](https://github.com/newsboat/newsboat/blob/90a2de9693976ed3f248e49f0c6f5ac7b1b17966/src/queueloader.cpp#L31). The format is not documented anywhere; I certainly didn't expect anyone to use Podboat separ

[2020-08-07 21:14] JRuiBarros commented on #1128
Hey @Minoru, I think I can tackle this so I'll submit a PR in the near future. Cheers!

[2020-08-07 22:05] #702 closed

[2020-08-08 12:41] Minoru commented on #1128
Cool!

I'm going offline for two weeks starting next Sunday, August 16th, so if you submit a PR in that timeframe, please don't get discouraged if I don't review it right away.

[2020-08-08 16:20] Minoru commented on #587
Bright idea: just before closing the cache file, store the current time in it. Upon startup, compare that value with cache.db's modification time, and if they differ by more than a couple seconds, conclude that the file was edited by an older version of Newsboat. We can also store Newsboat's version together with the time, and decide what updates we have to do depending on that.

This might break

[2020-08-08 16:32] Minoru opened #1130 "Allow remove APIs set flags on items"
Remove APIs like Miniflux etc. usually allow items to be "starred" or "favourited". In Newsboat, those marks turn into a specific flag, configured via e.g. `miniflux-flag-star`. But here's a problem (https://github.com/newsboat/newsboat/pull/1125#discussion_r466612243): when creating an `RssItem`, the remote API can't set a flag on it because:

1. `Cache::externalize_rssfeed` doesn't write `flags`

[2020-08-09 11:11] #448 closed

[2020-08-09 11:14] JRuiBarros commented on #1128
Hello @Minoru,

I've been further checking the code base and wouldn't it be better if instead of changing the compare function on feedcontainer.cpp, to change the get_firsttag() method of the rssfeed class? The idea would be to have the method return the first non '~' and '!' tag, and in the case where only those types of tags exist to return an empty string. The get_tags() method already filters

[2020-08-09 12:33] Minoru commented on #1128
Changing `RssFeed::get_firsttag()` is a great idea! Let's do that.

I think it should only exclude the '~' tags. though, because these are only used to rename feeds; they aren't displayed in the Tag Selection dialog, and one can't get to them via filter expressions. Hidden tags, on the other hand, *are* visible in the Tag Selection; they are not accessible from filter expressions, but I consider t

[2020-08-09 17:49] Xtropy74 opened #1131 "TT-RSS and The Old Reader at the same time?"
Is it possible to run two different sources at the same time?

I have tried the following in my “config” file but none have worked:

urls-source "ttrss"; "oldreader"

urls-source "ttrss" "oldreader"

Separate lines for each, etc but I can only get one source to sync at a time

Thanks in advance for any help

[2020-08-09 19:01] Minoru commented on #1131
Hi! There can't be more than one urls-source at a time. Instead, create multiple configs, and run multiple instances of Newsboat:

[code]

Note that you *must* use separate cache files, otherwise Newsboat will "forget" feeds and items.

Out of curiosity, why do you want to use multiple services at once?

[2020-08-09 21:34] dennisschagt commented on #1126
Thinking about this a bit more, I realized that our future stfl replacement probably won't have a feature like stfl's "pos_name" anyway.
For that reason, I removed our usage of it in PR https://github.com/newsboat/newsboat/pull/1132.
I expect that will fix this bug (I still need to verify).

[2020-08-10 04:55] rohitbishnoi opened #1133 "Newsboat crashes at startup with "Segmentation fault: 11" error message."
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
[code]

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Newsboat crashes at startup with "Segmentation fault: 11" error message.
[code]

2.

3.

**Other info you think is relevant**:

[2020-08-10 15:47] Xtropy74 commented on #1131
I am evaluating a self hosting solution instead of cloud based and wasn't ready to commit to it yet so thought I'd run them in parallel. Thanks for the info though, it answers my question.

[2020-08-10 15:47] #1131 closed

[2020-08-10 19:47] Minoru commented on #1133
Hi! I couldn't reproduce this on Linux, and I don't have macOS to test this on. Please work with me to narrow down the cause.

**First of all**, backup ~/.config/newsboat/urls, ~/.config/newsboat/config, and ~/.local/share/newsboat/cache.db.

Then, run a couple experiments:

1. remove ~/.local/share/newsboat/cache.db and start Newsboat;
2. remove cache.db again, edit your urls file to contains a s

[2020-08-10 23:05] dennisschagt opened #1135 "Add operation for selecting feed based on title"
We have the [`goto <feedname substring>`](https://newsboat.org/releases/2.20.1/docs/newsboat.html#cmd-goto) commandline option.
It would be nice to have a similar operation which can be used from macros.

Having this option is useful for https://github.com/newsboat/newsboat/pull/888 (when combined with https://github.com/newsboat/newsboat/pull/1134).
Reasoning taken from https://github.com/newsboa

[2020-08-11 12:27] #1129 closed

[2020-08-11 17:30] dennisschagt opened #1137 "Macros and `run-on-startup` should abort execution if operation fails"
**Newsboat version**: commit 1730dc1091034ec82af07b3a2ccc4f36fd9ecf87 (current state of PR https://github.com/newsboat/newsboat/pull/1134).

Config file:
[code]

Steps to reproduce the issue:

1. Run a newsboat version which includes the changes from PR https://github.com/newsboat/newsboat/pull/1134

2. Start Newsboat with the `run-on-startup`

3. Press `,a` to execute the macro

Expected: Newsboa

[2020-08-11 19:06] SeanBE opened #1138 "Inspect the Expires header before updating feed"
I've run into issues with the RSS feeds provided by https://arxiv.org. These feeds are updated daily somewhere between 00:30 GMT and 01:50 GMT *.

* If you run a periodic refresh for newsboat within arxiv's update window, you will never receive new items (after initial load)
* They update the Last-Modified and Etag headers with an empty list first before actually populating the list later. (I'm as

[2020-08-11 21:28] Minoru commented on #1138
Most likely. We can also inspect `Cache-Control` header; its `max-age` directive is essentially the same as `Expires`. All that stuff is described in [RFC 7234](https://tools.ietf.org/html/rfc7234).

I foresee a couple problems with those headers, though:

1. if a misconfigured server sends a date that's far in the future, Newsboat will effectively stop updating that feed.

    This isn't a novel

[2020-08-11 22:20] #1128 closed

[2020-08-12 14:18] dennisschagt opened #1139 "Podboat help form crashes when key with a long name is bound"
**Newsboat version**: 97010f64502c7f994a7cc2b91a3805decb39c99d (current `master` branch)

Config file:
[code]

Steps to reproduce the issue:

1. Start podboat with the provided config file

2. Press `?` to open the help screen

Expected: The configured keybinding is shown ("BACKSPACE -> quit").
Actual: Podboat crashes (`terminate called after throwing an instance of 'std::length_error'`)

**Other

[2020-08-12 16:34] Minoru commented on #1138
The info I provided was passed on to their programmers. Hopefully this will get fixed :crossed_fingers:

[2020-08-12 18:01] #1126 closed

[2020-08-12 20:19] Minoru commented on #1120
I replaced my initial PR with a new one, #1140, which is a bit more generic and fixes one other issue as well.

[2020-08-12 20:33] Minoru commented on #587
That idea might not be so bright after all: [here's a blog post](https://apenwarr.ca/log/20181113) describing some problems that mtime comparisons create for build systems. Of interest to us are the following points:

1. **Is mtime monotonically increasing?** No, it can go backwards. […]

2. **Does mtime get set to >= the current time?** No, this depends on clock granularity. […]

3. **Does mtime

[2020-08-13 05:56] sharpaper opened #1141 "Sorting unread items first"
Is there a way to sort the items of a feed by date with unread items first? What happens right now is that items are simply sorted by date, and if a new item is added with an older date it could end up at the end of the list.

[2020-08-13 16:06] oibind opened #1142 "Config for color of listfocus_unread has unwanted background color"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: 2.20.1

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Open newsboat

2. Scroll to an unread article

Expected | Unexpected
--- | ---
![image](https://user-images.githubusercontent.com/25280584/90158380-d826d080-dd86-11ea-8ba4-183c28e817f4.pn

[2020-08-13 16:41] oibind commented on #1142
I did an *oopsie doopsie* on my end.

[2020-08-13 16:41] #1142 closed

[2020-08-13 16:58] Minoru commented on #1141
Currently, there is no way to do this, but I think we can extend the existing [`article-sort-order`](https://newsboat.org/releases/2.20.1/docs/newsboat.html#article-sort-order) with a new field, `unread`, and allow to specify multiple sorting fields like this: `article-sort-order "date-asc,unread"`. This will first sort by date, and then by the "unread" flag. Since we're using [stable sorting](htt

[2020-08-13 17:03] Minoru commented on #1142
But wait, how did you fix it? Was the problem the "default background" in `listfocus_unread`? I'm happy you resolved this because I've no idea what's going on here ._.

[2020-08-13 17:22] sharpaper commented on #1141
Sounds good. However  for me it's enough to have a setting in the config file, I don't really care about a UI key for this. For example if there is a setting "unread first", the unread items will be at the top regardless of what sorting is in place.

[2020-08-13 17:34] Minoru commented on #1141
Sure, but there are other users as well, and they might come up with similar-yet-different use-cases, like https://github.com/akrennmair/newsbeuter/issues/465. So I'm trying to come up with a design that covers more than one use-case while remaining actually useable.

[2020-08-13 19:42] oibind commented on #1142
@Minoru yes, it was with the `default` option set for `listfocus_unread`.

[2020-08-13 19:47] Minoru commented on #1142
Ah, okay. Thanks :)

[2020-08-13 20:50] chinmaya1011 commented on #1142
Hi, I'm having this issue and I'm not sure how to solve it.

[2020-08-13 20:56] Minoru commented on #1142
@chinmaya1011 My understanding is that you have to explicitly define the background colour, i.e. instead of `color article blue default` you should use `color article blue black` (or whatever background colour you like).

[2020-08-13 21:05] chinmaya1011 commented on #1142
[code]
![image](https://user-images.githubusercontent.com/36993291/90187001-b7866700-ddd6-11ea-8c71-db052d93b0ab.png)

[2020-08-13 21:20] Minoru commented on #1142
Ah. The thing is, `listfocus_unread` is applied to the *text* on the unread item, not the whole line, so you have to use matching backgrounds:

[code]

[2020-08-14 06:56] typkrft opened #1144 "Is it possible to source/include multiple URL files from the urls configuration?"
I see you can split up the configuration, but is this possible with the URLs? Essentially I would like to share my URLs publicly but there's a few I would like to hide.

[2020-08-14 10:33] Minoru commented on #1144
That's been on the to-consider list for a while: #118 It's clear that people want this feature, but I haven't gotten around to think how to best integrate it into the urls file, especially in light of #83

I'm closing this in favour of #118.

[2020-08-14 10:33] #1144 closed

[2020-08-15 12:05] #444 closed

[2020-08-15 12:05] #1120 closed

[2020-08-16 19:32] dashezup opened #1145 "Allow reloading feeds from the tag selection dialog"
It seems newsboat could only reload currently selected feed or all feeds, I didn't find a way to reload some of feeds.

After added lots of feeds, it takes a while to reload all feeds, sometimes I only want to reload some feeds not all (such like rss of some github project release notes, youtube channels, blogs, or news).

Some ideas I thought of
1. Directory based `urls`, enable tree-alike view a

[2020-08-19 20:24] RomeuG opened #1150 "rss_item from any entry gets deleted from cache after removing the entry from the urls file"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:

[code]

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Have a feed with contents in it

2. Check if they exist in cache.db

3. Delete the entry from `urls` file

4. Check cache.db and verify that they are not there anymore

**Other info you

[2020-08-20 07:49] dennisschagt commented on #1150
I believe that is a feature which can be controlled by the [`cleanup-on-quit`](https://newsboat.org/releases/2.20.1/docs/newsboat.html#cleanup-on-quit) option:

[2020-08-20 08:34] RomeuG commented on #1150
Indeed it is. I don't know how could I miss that.
Thank you very much!

[2020-08-20 08:34] #1150 closed

[2020-08-24 15:22] smyru opened #1153 "iframe URLs are not reflected on the article URL list"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
newsboat 2.20.1

Steps to reproduce the issue:
1. subscribe to https://tonsky.me/blog (URL: https://tonsky.me/blog/atom.xml)
2. fetch the feed
3. navigate to "Good times create weak men" article (URL: https://tonsky.me/blog/good-times-weak-men/)
4. locate Youtube movie link among the article URLs

**Other info

[2020-08-26 16:02] sillybaboy opened #1155 "Is there a way to push feed content to a notification daemon?"
Hello,
The only variables for notify-format are some numbers, but I'd like to push the 3-5 most recent feed titles + authors/feed names to my desktop notification daemon too. Is that possible?
thx

[2020-08-27 09:53] roman-holovin opened #1156 "Add space after url before number on the link list"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
2.20.1

I have a terminal emulator that can parse urls, unfortunately in cases `http://url[1]`, it thinks that `[1]` is a part of the url.

<details>
   <summary>Example</summary>

[code]
</details>

If I'm to click on either `Article URL` or `Comments URL` from an example above, it will open the browser with

[2020-08-27 14:36] graysky2 opened #1157 "Possible to config newsboat to look at a web exposed directory and report changes"
Is it possible to configure newsboat to look at a specific webpath and show the file listing as items?  As well, as new files are added, show them as new items?

For example: the kernel stable queue: https://git.kernel.org/pub/scm/linux/kernel/git/stable/stable-queue.git/tree/queue-5.4

[2020-08-28 20:37] Minoru commented on #1145
Hi! Sorry for the delayed response; I was on a break.

I'm not too keen on your first idea, since it parallels a feature we already have—tags. Implementing both will create confusion and duplication.

Your third idea is actually what I'd suggest myself. As far as I understand, you find it less convenient because it requires more keystrokes? We could merge it with your second idea, then, and teach

[2020-08-29 06:59] dashezup commented on #1145
I think tree based listing is more convenient because I won't need to enter - leave - re-enter to check between feeds in tags. Without wide range chages of UI, it's also more comfortable for eyes.

Regarding that you mentioned, it sounds good and enough for my needs. But after quit feeds list of a tag, I think it should back to tag dialog. Current it back to main UI.

Seems there are lack of keybi

[2020-08-29 07:57] Minoru commented on #1153
Reproduced. Thanks for the report, @smyru, and sorry about the delayed response—I was on a break.

[2020-08-29 08:09] Minoru commented on #1145
Think of the tag selection dialog as a modal, like "Open file" or "Print" dialog in a GUI application. Modal dialogs don't exist by themselves, they only serve to affect some other part of the program. I realize it could've been done differently, but I think the effort to change this far outweighs the benefits.

J and K work for me. Are you sure you didn't re-bind those from their defaults? But ye

[2020-08-29 08:33] Minoru commented on #1155
Hi! Sorry for the delayed response, I was on a break.

This isn't currently possible. I don't think this can be implemented with new specifiers in `notify-format` either, since we don't have a way to encode things like "pick 5 most recent feeds" — that requires some sort of a templating language.

Couple ideas of alternative implementations:

1. notification program could read a JSON (or whatever)

[2020-08-29 08:44] Minoru commented on #1156
Hi! Sorry for the delayed response, I was on a break.

I'm not completely against this change, but it feels like I'll be doing a disfavour to you by implementing it :) Instead of reaching for the mouse/trackball/trackpoint/trackpad, use Newsboat's built-in capabilities:
* for links from first to ninth, you can just press a corresponding number key;
* for the tenth link you can press 0l
* for other

[2020-08-29 09:03] Minoru commented on #1157
Hi! Sorry for the delayed response, I was on a break.

You can implement this with a `filter:` in the urls file: write a program that reads HTML from stdin and prints out an RSS or Atom feed to stdout, and Newsboat would consume that feed and display it alongside other feeds you have. Does that answer the question, @graysky2?

[2020-08-29 09:42] dashezup commented on #1145
Sorry I just noticed I'm using an old version of newsboat (r2.19) those keybindings were not in that version. J/K should work in the latset version.

[2020-08-29 11:22] graysky2 commented on #1157
@Minoru - In principal, I understand.  Is there an example you can point me to illustrating the actual code needed?

[2020-08-29 11:31] Minoru commented on #1157
Newsboat copied that feature from Snownews, so you can look at [their examples](https://github.com/kouya/snownews/tree/master/contrib/filters) for inspiration. You then add something like `filter:~/.scripts/git2atom.sh:https://git.kernel.org/pub/scm/linux/kernel/git/stable/stable-queue.git/tree/queue-5.4` to your urls file.

[2020-08-29 13:36] graysky2 commented on #1157
@Minoru - I get it.  Thanks for tip.

[2020-08-29 17:53] graysky2 commented on #1157
@Minoru - I hacked together a bash script that does this but I am getting 0/0 within newsboat.  What am I doing incorrectly?

Here is my html to rss script:

[code]

I added the following to `~/.newsboat/urls`
[code]

Yet I get this within newsboat:
[code]

[2020-08-29 18:41] graysky2 commented on #1157
Here is my solution that might be helpful for others finding this.

My hacky script:
[code]

My entry in `~/.newsboat/urls`
[code]

[2020-08-29 18:41] #1157 closed

[2020-08-29 19:35] PierrotAWB opened #1158 "Nested lists in local files not displaying correctly"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
newsboat 2.10.2 - https://newsboat.org/

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Obtain feed file with nested list. Here's an example from [this page](https://www.unqualified-reservations.org/2007/04/case-against-democracy-ten-red-pill

[2020-08-29 20:28] Minoru commented on #1158
Thank you for the report! I wrote a test that demonstrates this bug (see bugfix/1158-nested-lists branch in this repo), which also confirms that the bug affects all HTML regardless of where it comes from, be it file://, http:// or https://. I won't have time to work on this any time soon, but maybe the test will help someone else tackle this.

[2020-08-29 21:58] roman-holovin commented on #1156
No problem, thanks for the detailed reply and suggestions.

I know about those hotkeys, thing is I use Newsboat over ssh and any "open in browser" command will try to open browser on the remote machine (at least to my knowledge). Handling URLs in terminal emulator works locally and opens local browser and this is what I want.

Can you point out relevant part of the code base, so I can dig in?

[2020-08-29 22:13] Minoru commented on #1156
Got it! Yeah, I don't think it's possible to run a local command from a program that runs on the other side of an SSH; the best you can do is X forwarding, which doesn't really suit the use-case.

Take a look at src/itemrenderer.cpp and test/itemrenderer.cpp. You should change `to_plain_text` and `to_stfl_list` methods. Since word-wrapping doesn't know where the square brackets come from (were the

[2020-08-30 02:27] A1RO commented on #412
Even though it's not exactly straightforward, you can add blank lines and colorful section headers to your feedlist.
Here's how I just configured mine, which is quite similar to what @CRMemory asked.

1. In the `urls` file, I create a blank line (notice the whitespace betwen quotes) followed by a section header / separator:

[code]

2. In the `config` file, I highlight the header, then blank lines

[2020-08-30 17:26] Minoru commented on #1133
@rohitbishnoi, did you get a chance to try out my suggestions and get a bit more info?

[2020-08-30 17:28] Minoru commented on #1112
I consider this resolved, so closing the issue. Please comment or open a new one if something is unclear!

[2020-08-30 17:28] #1112 closed

[2020-08-31 13:25] #1158 closed

[2020-08-31 15:28] Minoru commented on #1158
Thanks for fixing this, @dennisschagt!

[2020-08-31 17:25] graysky2 opened #1163 "Delay applying the feed-sort-order setting until after feeds have been updated"
Is it possible to have newsboat apply my `feed-sort-order lastupdated` setting after newboats finishes updating the feeds?  I am launching it via `newsboat -r` currently, and the effect is to apply the sort before all the feeds update.  Often, the results after the update are different.  Perhaps there is a way to do this now and I am just ignorant to it.

Note - I tried adding `auto-reload yes` to

[2020-08-31 18:35] Minoru commented on #1163
Do I understand correctly that the problem is: after reload, Newsboat re-sorts the feeds, which is inconvenient since the order changes suddenly?

[2020-08-31 18:55] graysky2 commented on #1163
Yes, to me the expected behavior is for newboat to update all feeds first and then apply the value specified by `feed-sort-order` in the config.  This way, the user's options are applied to the most recent data rather than the old snapshot.

[2020-08-31 19:11] Minoru commented on #1163
Okay, so my understanding is *not* correct. Let me try again: the problem is that after reloading the feeds, Newsboat doesn't sort them again? If so, how do you verify that the sorting didn't happen?

[2020-08-31 20:00] graysky2 commented on #1163
My config:
[code]

When I run `newboat -r`, I see 0/0 for all my feeds because I deleted all read items prior.  Now, newsboat is updating the feeds, and let's say that several of them have new content.  They are not sorted to the top as I expect.  If I quit newsboat and reload it, I see the expected result, with the new content on the top of the list.

Did I explain it sufficiently well?

[2020-08-31 20:13] Minoru commented on #1163
Yes, thanks! So my second re-statement is correct, then.

I just checked with Newsboat 2.13, and it re-sorts the feedlist after reloading the feeds. A build from the current "master" segfaults, though :) I'll look into that as well. What version are *you* running, @graysky2?

[2020-08-31 20:14] graysky2 commented on #1163
@Minoru - I am using 2.20.1 it seems:
[code]

[2020-08-31 20:35] Minoru commented on #1163
Got it, thanks!

I bisected the segfault to dd42cc37d21829df1d2322e2bfe7d7f5170e29ed. That's part of 2.20.1, so it's interesting that it's not segfaulting for you; perhaps it's dependent on the cache/number of urls/config/etc? I have to go sleep now, will turn that into a proper issue tomorrow.

[2020-09-01 11:17] graysky2 commented on #1163
@Minoru - I built against master just now and my original issue is not present here.  The update happens first then the sort.  ge0e76

[2020-09-01 18:17] Minoru commented on #1163
Ah, it must've been #1089 then. Since the latest version works, I'm closing this issue. Thanks for submitting it!

(I'm still wrangling with the segfault. Can't reproduce it without my own cache.db. Will just submit a PR once I fixed it.)

[2020-09-01 18:17] #1163 closed

[2020-09-01 18:26] graysky2 commented on #1163
You're welcome, thanks for the time!

[2020-09-01 19:13] dennisschagt opened #1165 "Add key-binding configuration command which supports key-sequences and macro-like sequences of operations"
**Newsboat version**: 2.20.1

I'm thinking about implementing a new configuration command which combines and supersedes the `bind-key` and `macro` commands. This issue can be used to discuss the proposed format.

Related issues:
- https://github.com/akrennmair/newsbeuter/issues/131 (multi-key bindings)
- https://github.com/akrennmair/newsbeuter/issues/493 (support macro-like bindings)
- https://gi

[2020-09-02 11:05] msilletti opened #1167 "Filter a single feed for a specific title"
I want use lkml rss feed to monitor all replies containing a specific title but after reading through [5.7 Query feeds](https://newsboat.org/releases/2.12/docs/newsboat.html#_query_feeds) in the docs I can't understand it. What should the correct syntax be to only show posts containing the title "Linux 5.9-rc3" from the rss?

I tried
[code]

That gave all entries for lkml.org and none for what I w

[2020-09-02 15:42] Minoru commented on #1165
I like this proposal! Here's a few thoughts on the finer points:

I'm not sold on the idea of making the syntax so very English-like, but if we do that, let's go all the way: "bind j in feedlist,articlelist _to_ next" (with `to` before the ops list).

Any objections to going with "C-S-M-d" syntax mentioned in https://github.com/akrennmair/newsbeuter/issues/493? We might not support CTRL and META r

[2020-09-02 17:43] Minoru commented on #1167
Your query looks fine to me, but I can't confirm that it works because:

1. the feed no longer contains any items with "Linux 5-9-rc3" in the title;
2. a query `"query:only interest:tags =~ \"lkml\" and ( title =~ \"media: vivid: \" )" "lkml"` shows 7 items both on current master (https://github.com/newsboat/newsboat/commit/e0e76c34bf3713a9e3c94d97c388120c31ad76b3) and 2.12 release.

Can you try m

[2020-09-02 19:08] der-lyse commented on #1165
I like that idea very much! :+1: Personally, I'm not totally sold on the syntax regarding the `in` and `to` keywords. I'd rather just leave them out entirely. But I don't care too much.

One thing which might break user expectations is the abort on the first failed command in a sequence. When using cleanups in the last step this would cause them to not be executed and leaving newsboat in a little

[2020-09-02 19:48] Minoru commented on #1167
@msilletti, note that colons inside double quotes might not work. I fixed that in #1170, but if you're running an earlier version, you might need to rephrase your filter expression to avoid that.

[2020-09-02 20:35] msilletti commented on #1167
@Minoru - I built it from your master branch today so it is current. I did your suggestion and it works.
[code]
Is there a syntax to combine the two lines into 1 line? The effect is I get a feed for the entire lkml.org and my filter. I don't want to see the entire lkml.org if this is possible?
[code]
Many thanks to you!

[2020-09-02 21:00] dennisschagt commented on #1167
You might be able to hide the first feed by adding [a "hiding tag"](https://newsboat.org/releases/2.20.1/docs/newsboat.html#_tagging) (e.g. adding "!" as a tag to the end of the lkml.org line).
[code]

A few things to note:
- By hiding the feed, you cannot access it so you can only reload it by pressing `R` (= `reload-all`)
- The `!` tag might show up in the `selecttag` dialog (related to https://

[2020-09-03 15:29] Minoru opened #1171 "Add operation for opening a URL with given command"
As @der-lyse explains in https://github.com/newsboat/newsboat/issues/1165#issuecomment-685939764:

We can replace the whole thing with a new `open-with-command`, to be used like this: `open-with-command "feh %u"` (the name is subject to bikeshedding).

[2020-09-03 15:29] Minoru commented on #1165
Agreed. I split that off into #1171.

[2020-09-03 23:17] m040601 commented on #1171
Just want to chime in, as a long time (power) newsboat end user, to upvote this idea/proposal, and give some feedback. Sorry I'm not a developer, can't comment or provide any coding ideas/directions.

It's been, like, years, that I (and many others) have felt the same.
Many times I had thought about submiting a question/issue about this.But somehow always thought that this was something "intrinsic

[2020-09-04 18:01] #1027 closed

[2020-09-05 13:57] danrobi11 opened #1173 "Support Media RSS extension in Atom"
Hello
Youtube video description are usually loaded when fetching new feed. (with other feed clients) Although, not in newsboat.
How do I fetch youtube video description with newsboat?

[2020-09-05 14:21] Minoru commented on #1173
Hi. Can you please follow the issue template? I've no idea what Newsboat version you're running and don't have a feed URL to reproduce this.

[2020-09-05 18:01] Minoru commented on #1167
Since the bug is not reproducible with current version of Newsboat, and the other question is answered, I'm closing this.

[2020-09-05 18:01] #1167 closed

[2020-09-05 23:55] danrobi11 commented on #1173
My bad
[code]
newsboat 2.13.0
System: Linux 4.19.0-10-amd64 (x86_64)
Compiler: g++ 8.3.0

[2020-09-06 12:05] Minoru commented on #1173
YouTube uses Atom but puts the description into [Media RSS tags](https://www.rssboard.org/media-rss):

[code]

Right now, Newsboat only supports that RSS extension for RSS feeds, but there is no reason not to add support to Atom parser as well. I'll merge a PR implementing that.

Thanks for the report, @danrobi11!

[2020-09-06 13:05] Minoru commented on #1173
Um, actually, this is a duplicate of #595, so I'm closing this in favour of that issue.

[2020-09-06 13:05] #1173 closed

[2020-09-06 19:23] Minoru commented on #1133
No response for a month and I can't debug things I can't reproduce, so closing this. Please comment if you have more information on this issue.

[2020-09-06 19:23] #1133 closed

[2020-09-06 19:38] A1RO commented on #1171
Hi @m040601, thanks for the thorough explanation!

To add on your idea:

Use cases like the one I described in #1175, i.e. `macro p set browser "mpv"; one ; set browser "firefox"` certainly does not read as "open this podcast in your favorite player". A little cryptic there, and it's only a simplified version of my actual command. I mean, it's fun creating it, but also represents a steep learning

[2020-09-08 12:01] RMPR opened #1176 "Save to another format more suitable for further manipulation with Calibre or Pandoc"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: 2.17.1
My config file is not too relevant for this, but here it is:

[code]

Steps to reproduce the issue:

Open an article and save it.

**Other info you think is relevant**:
I couldn't help but notice when running this command:
[code]
that the articles seem to be stored in HTML, but when trying to save, the

[2020-09-08 18:21] Minoru commented on #1176
HTML is not a given (e.g. [Atom has a way of indicating a MIME type](https://tools.ietf.org/html/rfc4287#section-4.1.3.1)), but Newsboat currently assumes that the content is always in HTML. I would prefer not to provide a command that *guarantees* HTML, because that requires Newsboat to convert any format to HTML (which seems peripheral to Newsboat's task). But I'd merge a PR that adds a command

[2020-09-08 21:35] jfrech commented on #412
As a comment to @A1RO's suggestion: When working with a terminal with a non-black default background, it may be prettier to set
[code]
to not introduce black-colored background artifacts.

[2020-09-09 13:04] dennisschagt commented on #1165
@Minoru and @der-lyse: Thanks for the feedback!

I hope to have some time during the weekend to do some small prototyping.

That's completely fine with me.

No objections so I will try to implement that idea.

Looks like a good idea, thanks!

[2020-09-10 20:53] Minoru opened #1177 "Miniflux: items can't be marked read if `miniflux-url` ends with a slash"
This feature is awesome and works smoothly, great job @gjabell !

However I noticed one minor issue (not sure if it's intentional) - `PUT` requests don't follow redirects - thus I wasn't able to mark items as read. It took me a while before I noticed that I have `retrieve_url` set as `https://my.url/` which generate `PUT //v1/entries` (two slashes) which my server redirected to `/v1/entries`. Afte

[2020-09-10 20:55] gjabell commented on #1177
Thanks for bringing it to my attention :slightly_smiling_face: definitely not intentional; I think it shouldn't be too difficult to check if the status code is a redirect and resubmit the request to the new URL. I'll take a look this weekend if I have some time.

[2020-09-10 20:58] ajgon commented on #1177
As a side note, I want to add, that not only slash may be a problem. Consider somebody set a URL as `http://my.miniflux.url` and uses SSL - his server probably would redirect him to `https://my.miniflux.url` despite not having trailing slash. So if possible, redirect sounds like a better solution.

@gjabell That's awesome, thanks!

[2020-09-11 15:46] gjabell commented on #1177
So, it turns out this is a very easy fix! libcurl has a [setting](https://curl.haxx.se/libcurl/c/CURLOPT_FOLLOWLOCATION.html) defined for automatically following redirects, which we already have defined in [utils.cpp](https://github.com/newsboat/newsboat/blob/master/src/utils.cpp#L787). However, the default behavior for redirections is to always switch non-GET requests to GET requests, which is wh

[2020-09-11 17:05] Minoru commented on #1177
I think setting the option in `utils::set_common_curl_options()` is dangerous, since that method affects *all* the HTTP calls that Newsboat makes. I don't think our "native fetcher" will be affected, but other remote APIs might break.

It seems to me that a better option would be to give `utils::retrieve_url()` a pre-made Curl handle with the option already set. Then you can use any value you like

[2020-09-11 17:14] gjabell commented on #1177
Hmm, fair point. I do think it's weird that the default behavior is to switch to GET on redirections, but it's probably safer to allow passing preset opts instead of making a sweeping change.

I did double check that it fixes it; not sure why the docs only mention POST but it seems to work with other request types as well.

[2020-09-11 17:38] Minoru commented on #1177
Mostly agree. [RFC 7231 §6.4.2 notes](https://www.ietf.org/rfc/rfc7231.html#section-6.4.2) that this for "historical reasons"; [RFC 2616 §10.3.2](https://tools.ietf.org/html/rfc2616#section-10.3.2) provides more detail, saying that "some existing HTTP/1.0 user agents will erroneously change [POST method] into a GET request". So it seems like a consequence of a bug from the last century :)

It seem

[2020-09-11 20:08] der-lyse commented on #1177
That's what `HTTP 307 Temporary Redirect` and `308 Permanent Redirect` are for, they're introduced to explicitly follow with the same HTTP method as the original request. By industry standards the older `301 Moved Permanently`, `302 Found (Moved Temporarily)` as well as `303 See Other` still follow with a `GET`, regardless of what the original HTTP method was. However, `302` is discouraged to be u

[2020-09-12 09:08] gjabell commented on #1177
@ajgon I just pushed a fix for this issue; if you are set up to compile Newsboat would you mind confirming that it works for you as well?

If anyone else wants to test it, spin up the test environment in `contrib/miniflux` with `docker-compose up -d` (probably need to run the command twice since Miniflux crashes if the db isn't ready), then add a feed to Miniflux (at http://localhost) and set the

[2020-09-12 20:57] Minoru commented on #1177
You'll also need `urls-source "miniflux"` ;)

[2020-09-12 20:57] #1177 closed

[2020-09-13 10:14] ajgon commented on #1177
Sorry for late reply, had busy weekend :) I compiled the most recent `master` and everything works as expected. Thank you for fixing this so fast!

[2020-09-16 21:05] n0542344 opened #1181 "Losing library when '~/.config/newsboat/urls' changes"
Thanks a lot for the awesome `newsboat`-tool - I'm using it on a daily basis.  In most cases it works flawlessly, but I have experienced sometimes a major issue which led to me lose all my library.

I'm using the following version of `newsboat` on my `Debian Stable` system:

    newsboat 2.13.0
    System: Linux 4.19.0-9-amd64 (x86_64)
    Compiler: g++ 8.3.0
    ncurses: ncurses 6.1.20181013 (com

[2020-09-16 21:17] Minoru commented on #1181
Hi! Sorry you lost some data ._.

Because Newsboat removes data that is no longer reachable. From Newsboat's point of view, you removed a feed from the urls file, which means you're no longer interested in that feed; this means you don't need the related data any more. Thus, it is removed from the database.

Restoring your cache.db from a backup is the only way to get the data back.

Yes, add `cle

[2020-09-17 08:08] n0542344 commented on #1181
Thanks @Minoru for your swift reply!

Awesome, that solves my issue, thanks a lot!

Well, that makes sense - but is that a good choice for the default behavior?  This way it's relatively easy to lose data.  If it would be the other way round (cleanup is only performed manually except if specified so on the `config`-file) the downside would only be a larger db - but if that bothers anyone a manual

[2020-09-17 12:12] Minoru commented on #1181
I was going to say that this is like complaining that removing a name from the file system makes it easy to lose data, but then I realized that people already ran into *that* problem, and solved it with the "waste-basket" metaphor. So now I think you're right.

I can't change the default in a minor release, so that will have to wait until 3.0. But the manual cleanup can be added earlier, to the be

[2020-09-17 12:12] #1181 closed

[2020-09-17 12:17] Minoru opened #1182 "Add --cleanup to manually do what cleanup-on-quit setting does"
As discussed in #1181, people who set `cleanup-on-quit no` might still want to occasionally remove unused feeds and items from their caches. Currently, the only way to do this is to re-enable the setting, start Newsboat, then immediately quit it, wait for it to clean the cache, and disable the setting again. This is burdensome, and should be streamlined with a new command-line option `--cleanup` t

[2020-09-17 12:22] Minoru opened #1183 "Change default for cleanup-on-quit to "no""
As discussed in #1181, the current default of `cleanup-on-quit yes` can lead to data loss since the user doesn't expect Newsboat to remove unused feeds and items. We should change the default to `no`, and nudge users to occasionally run `newsboat --cleanup` to remove unreachable data.

Blocked on #1182.

[2020-09-17 12:27] Minoru opened #1184 "Nudge users towards enabling `cleanup-on-quit` or running `newsboat --cleanup`"
As discussed in #1181, our current default of `cleanup-on-quit yes` can lead to data loss. On the other hand, disabling the cleanup will lead to DB growth if the user constantly adds and removes feeds (which IMHO is a normal and expected situation, since interests change and people are constantly re-balancing their subscriptions lists to keep signal/noise ratio under control). We'll combat data lo

[2020-09-20 14:32] Minoru commented on #1171
@m040601, thanks for another perspective on this! The name for the new operation certainly needs some more thought put into it, to make it generic yet useful enough.

@A1RO, good that you mentioned #1175, I forgot about that use-case already ._. I actually like your `mpv %1` idea, but here's yet another: the new command could be something like `with <setting name> <setting value> <operation>`, to

[2020-09-21 13:01] marczz commented on #49
I got the same error after migrating from newsbeuter to newsboat, and after reading this thread I solved it by amending the wrong path. But what would need to be fixed is the spurious error message, How could we guess that "Error: an instance of newsboat is already running (PID: 0)" truly mean "cannot open the cache file"!

[2020-09-21 18:29] Minoru commented on #49
@marczz I agree. There's an issue for that already: #314. Just waiting for someone to actually write the code.

[2020-09-21 20:31] wasamasa opened #1195 "tag soup pull parser doesn't recognize escaped double quote in attribute value"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: newsboat 2.20.1

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Add http://existentialcomics.com/rss.xml to feeds
2. View latest entry: <http://existentialcomics.com/comic/360>

Expected rendering output:

    [image 1: As John Searle once sa

[2020-09-22 07:23] wasamasa commented on #1195
Nevermind, backslashes are plain wrong for escaping in HTML attributes, HTML entities should be used instead. I'll have to report a bug with that website.

[2020-09-22 07:23] #1195 closed

[2020-09-22 11:58] Minoru commented on #1165
I just realized that in Newsboat, this approach has a major (in my opinion) downside: users might need to escape double quotes, e.g.:

[code]

This just looks more complicated than it should be.

Alternative suggestion: `bind <keys> <context> <op>... [-- <doc>]`, e.g.:

[code]

The `--` token helps resolve the ambiguity: if the second-to-last token in a string is `--`, we conclude that the last to

[2020-09-22 14:00] Kratacoa opened #1197 "Regexp unable to distinguish upper and lower case ASCII characters"
As far as I know, this is by design, but I don't understand the reason behind it.
One use case that would be useful is using only uppercase characters in empty links used as delimiters for different feeds in the `urls` file.

[2020-09-22 14:08] der-lyse commented on #1165
I didn't gave this much thought, but since you asked for other ideas, here is another one: If the comments weren't stripped before the actual parsing, we could just take the immediate comment preceding the `bind` as its documentation. So it would be just like docs for various programming languages. However, I reckon this would be a bigger change. The other downside is that this might probably not

[2020-09-22 19:50] Minoru commented on #1197
I wasn't around back than, but apparently it was so from day 1:

* `=~` and `!~` in filters, e.g. `ignore-article`: https://github.com/newsboat/newsboat/commit/79adeedd44277c41793ca0e31ede89c1778b818a
* `highlight` and `highlight-article`: https://github.com/newsboat/newsboat/commit/f647d92a84c0cdc00b660a32b70d0528a49bb3f0

No idea why, though.

I understand what delimiters you're talking about (#

[2020-09-22 19:54] Minoru opened #1199 "Make ConfigContainer available from Rust"
To implement my idea for a new setting in #1197, `Matcher` has to have access to settings. For that, we need a way to examine settings from Rust.

One way to achieve this is to have bindings from Rust to C++. This would require a relatively little code, but would require effort to build some infrastructure -- we currently only have code that calls from C++ into Rust.

Another way to achieve this i

[2020-09-22 19:57] Minoru commented on #1197
Oh, and a long-term solution would be to add flags to regexes, like `/regex/i` in Perl. This will also make the previous caveat obvious: if you didn't specify a flag, or specified a different one, and now you can't change the regex (because e.g. you can't change `highlight` rules in runtime), the decision is fixed and you can't affect it.

[2020-09-22 20:13] Kratacoa commented on #1197
`highlight all "^[A-Z]+$" red` for highlighting `MATHEMATICS`.
Currenly in my [urls file](https://github.com/Kratacoa/dotfiles/blob/master/config/newsboat/.config/newsboat/urls) I use a fancy thick dash to highlight such delimiters, but I would prefer to have a more noticeable alternative.

The issue you linked seems to be a more appropriate place to discuss my use case, but maybe a more "normal"

[2020-09-22 23:14] Minoru commented on #1197
Ah, got it. I'm afraid that your approach will still have false positives even when Newsboat starts taking case into account; for example, your regex would highlight "RSS" and "USA", which aren't your labels.

The only real solution for that is #412 (so Newsboat "knows" which lines are delimiters and which ones are text, and can highlight them differently), but in the meantime, you can leverage yo

[2020-09-23 09:04] thezeroalpha opened #1200 "Can't parse macros with semicolons in their arguments"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: 2.21.0

Previously, I had this macro in my config file, to save a selected article to Pocket:

[code]

The aim was to group the three commands (`open`, `sleep`, `killall`) using braces, and background/disown them together, so that I could continue using Newsboat while the article was being saved.

However, sin

[2020-09-23 16:58] Minoru commented on #1200
Hi! This definitely is *not* intended.

Bisect points at 58096742a43755f66257f48a40d2e71f778caca4 which is part of #1119. I was a reviewer for that one, and failed to consider that operations might have arguments that contain semicolons.

Moving the whole thing into a separate script is the only workaround that I can suggest.

Also note that `%u` is replaced by URL enclosed in single quotes, so th

[2020-09-23 18:05] mjsir911 commented on #791
Eh, 2.19 has become stable on Gentoo & still dealing with this problem. Will follow up but interested if this can be reproduced

[2020-09-23 18:06] mjsir911 commented on #791
probably related to #557

[2020-09-23 19:47] Minoru commented on #791
I reproduced this on r2.19 tag with:

- a one-line config: `auto-reload yes`
- a urls file of 573 URLs and a corresponding cache file (which weighs a few gigabytes, so pardon me for not sharing it). I didn't check if a smaller set of URLs would trigger this; it's just a nice big set of feeds that takes a while to reload

The steps to reproduce are:

1. start Newsboat, wait for the UI to show up
2.

[2020-09-23 19:51] Minoru commented on #557
As @mjsir911 points out in #791, these two issues look similar. #791 is apparently fixed by #1166 (part of 2.21 release). @j605, can you please build 2.21 and see if this issue still occurs for you?

[2020-09-24 13:39] thezeroalpha commented on #1200
Ah alright, so it's because of the semicolons. That makes sense, thanks for the info!

[2020-09-24 15:22] g4570n commented on #1145
Another approach could be to implement a tag like `"!"`, but that prevents that feed/URL from updating when we use `^R`, but it can update individually with `r` if we need it.

It is an idea that I leave for consideration, I do not know if it is actually something viable.

[2020-09-24 16:30] Minoru commented on #1145
@g4570n, that only gives the user two "groups" of feeds, whereas the top post mentions four (but it's probably a good idea to support more than a user could possibly have, like a few thousand). Also, introducing new "special tags" is somewhat risky, since some poor soul might already be using the same tag for their workflow.

[2020-09-24 18:37] Minoru commented on #1200
@thezeroalpha I just submitted #1203 which fixes this. If you're able to build from Git, please do so and test. Build instructions are in the README.

I'm haven't yet made up my mind about making a patch release for this. Looks like you're the only one who's affected. @uzhne, did you run into this bug as well?

[2020-09-25 10:59] thezeroalpha commented on #1200
@Minoru thanks for the fix. Unfortunately I'm not able to build from Git to test it, I'm on macOS where building and getting the dependencies right isn't trivial, and I can't get Docker working after spending three hours on it.

[2020-09-26 13:40] j605 commented on #557
I don't see the crash any more, thank you for fixing it :)

[2020-09-26 13:40] #557 closed

[2020-09-26 17:30] piperfw commented on #1200
I also have this issue with commands containing semicolons (that previously worked).

[2020-09-26 18:10] Minoru commented on #1200
@thezeroalpha You can follow [what we do on CI servers](https://github.com/newsboat/newsboat/blob/cb4a280b1badadc70893bb5cedd9cbd3d0f91a36/.cirrus.yml#L99-L114) to install all the dependencies. Homebrew makes it easy.

Regarding Docker: is the problem with Docker itself, or is it with our Dockerfiles? We don't use Docker on macOS, so no guarantees there, but if you did discover some problems with

[2020-09-26 19:38] piperfw commented on #1200
@Minoru certainly, thank you for continuing to work on this issue and of course the fantastic newsboat.

The macro
[code]
(`echo %u` was previously a local logging script, but the error is the same)

Leads to the following

[code]

and newsboat fails to launch.

[2020-09-26 21:55] Kratacoa commented on #1197
That is true, but can be corrected through ad hoc names for feeds; still, a proper delimiter would be a better solution.

I've tried but apparently it doesn't support that character at all :/
How rich is the set of characters supported by the regex interpeter?

Я так само користуюсь англійською. Постараюсь на днях попробувати і українську, якщо замічу недостатки однозначно поправлю!

[2020-09-27 18:27] thezeroalpha commented on #1200
@Minoru nice thanks, in that case I'll see if I can test it.
As for Docker, I'm not sure if it was an issue with the image or with Docker itself on Mac (since it also has to interplay with Virtualbox via docker-machine). I forget the exact error message, but I was getting input/output errors while trying to provision the container (installing dependencies etc.). It wasn't due to lack of disk space

[2020-09-27 22:14] Minoru commented on #1197
Ah, my bad: it should be `highlight all "[A-Z]+ ─+$" red`, without `^` at the beginning of the regex. The regex matches the whole line, and since the line in a feedlist starts with spaces and then some digits `^[A-Z]+` never matches. I verified that this updated line works with the urls file you linked earlier.

The regex is processed by `regcomp()` and `regexec()`, so I'd expect them to support e

[2020-09-29 09:05] Kratacoa commented on #1197
It does indeed work, thanks! Lovely :)

[2020-09-29 19:18] Minoru opened #1205 "Do not use separate script to spawn browser in FAQ items"
As mentioned in https://github.com/newsboat/newsboat/pull/1201#discussion_r496241175, our FAQ [suggests using scripts](https://newsboat.org/releases/2.21/docs/faq.html#_after_i_open_a_link_in_the_browser_newsboat_stays_unresponsive_until_the_browser_is_closed) where the command could fit into the setting. After #1201 is merged, we should replace this advice with `browser /usr/bin/firefox %u &`.

[2020-09-30 14:20] thezeroalpha commented on #1200
I've tested #1203 on macOS version 10.14.6, the macros now work as expected. Thank you @Minoru!
From my side, this issue can be closed now, but I'm not closing it myself in case you'd like to leave it open until the PR is merged.

[2020-09-30 20:18] Minoru commented on #1200
@thezeroalpha Thanks for checking! Turns out that PR introduces regressions of its own, so I'm reworking it. So maybe don't dismantle your build environment just yet; it's be nice if you could check the updated PR as well.

[2020-10-01 20:21] Minoru commented on #601
This is done indeed, I just forgot to close the issue.

[2020-10-01 20:21] #601 closed

[2020-10-01 21:13] edi9999 opened #1208 "Download in podboat fails because filename is too long"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. With just the following feed : https://feeds.backtracks.fm/indiehackers/indie-hackers-podcast/feed.xml

2. When enqueuing the podcast #174, `From Millions in Revenue to Staring Bankruptcy in the

[2020-10-01 21:26] edi9999 commented on #1208
At least showing the reason for the error would be better than to just mark the status as failed.

[2020-10-01 21:54] Minoru commented on #1208
Thank you for the report! Podboat doesn't get as much developer attention as Newsboat proper, so I have no idea if/when this would be fixed. PRs welcome!

Either approach sound acceptable to me. I leave the decision to whoever wants to implement this.

Note though that Podboat operates on a full *path*, not just a filename. If shortening the filename is not enough, it might be necessary to shorten

[2020-10-01 21:57] Minoru opened #1209 "Display the reason why the download failed"
(Split from #1208, particularly [this comment](https://github.com/newsboat/newsboat/issues/1208#issuecomment-702407004).)

If Podboat fails to write the file, e.g. because the filepath is too long, Podboat should display an error message explaining what went wrong.

[2020-10-02 03:38] bitcoinmeetups opened #1210 "Is it possible to export rss items to txt files?"
Is it possible to export rss items to txt files?

Yes or no?

[2020-10-02 08:53] Minoru commented on #1210
Yes, see [`save`](https://newsboat.org/releases/2.21/docs/newsboat.html#save) and [`save-all`](https://newsboat.org/releases/2.21/docs/newsboat.html#save-all) operations.

I believe this fully answers your question, so I'm closing the issue. If something is still unclear, please comment here; we can always re-open this.

[2020-10-02 08:53] #1210 closed

[2020-10-02 09:13] Minoru commented on #1210
Ah, @ttldtor reminds me that Newsboat also have [a `save` command in the command line](https://newsboat.org/releases/2.21/docs/newsboat.html#cmd-save), so you can type `:save /path/to/file.txt` too.

[2020-10-02 13:40] edi9999 commented on #1208
Just so that you know, the limitation on my system is 140 characters because the folder is in an encrypted ecryptfs partition : https://unix.stackexchange.com/a/32834

You might not be able to reproduce on an unencrypted fs, since usually the limit is higher (255 characters).

[2020-10-03 06:40] dermitdemdino opened #1212 "[Feature Request] Share with Mastodon"
I think it would be great to share a feed, for example with Mastodon.

[2020-10-03 13:32] Minoru commented on #1212
Hi! I'm in two minds about this. We already have `bookmark-cmd`, but it's geared towards items. Feeds have a slightly different set of "metadata":

- two URLs instead of one: there is a URL of the feed itself, and there also might be a URL of the website it describes. Items always have one URL;
- one title (the title of the feed). For items, `bookmark-cmd` receives two titles: the title of the ite

[2020-10-04 11:55] Minoru commented on #791
@mjsir911, did you get a chance to test 2.21 and see if it exhibits the bug?

[2020-10-04 13:53] anishmittal2020 commented on #1006
@Minoru  I see that this feature has been added to the latest Newsboat 2.21. **But is is possible to set in the configuration file of Newsboat, whether the user wants this feature or not?**

For, some users (old) it might be useful to not to confirm as they have been using Newsboat for a long time, and they know important shortcuts. It was more frictionless for them, but now there is an additional

[2020-10-04 14:09] Minoru commented on #1006
@anishmittal2020 Not at the moment, but it does make sense to add a setting akin to the existing `confirm-exit`. I'll turn your comment into an issue.

[2020-10-04 14:10] Minoru opened #1214 "Add setting to skip confirmation when marking all feeds read"
_Originally posted by @anishmittal2020 in https://github.com/newsboat/newsboat/issues/1006#issuecomment-703259122_

We can add a setting like the existing `confirm-exit`. I think it should default to `yes`, because we don't have a way to undo this action — better be safe than sorry.

[2020-10-04 14:35] tarishij17 commented on #1214
can you plz telll where is this existing  "confirm-exit" setting, and where do we have to add the new one?

[2020-10-04 14:45] Minoru commented on #1214
Generally you could find answers to those by running `git grep confirm-exit`, and clicking through to the referenced issue #1006 and looking at the PR that fixed it (#1096).

So in this case, what has to be done is:

1. add an `if` in `case OP_MARKALLFEEDSREAD` in src/feedlistformaction.cpp. See src/view.cpp for how it's done for `confirm-exit`;
2. add an entry for the new setting in src/configcon

[2020-10-04 14:56] tarishij17 commented on #1214
thanks for the info. Plz assign this to me , I'd like to work on this

[2020-10-04 15:10] Minoru commented on #1214
Sure! Looking forward to your PR @tarishij17 ^_^

[2020-10-04 17:04] tarishij17 commented on #1214
@Minoru any preferrable name of the new setting?

[2020-10-04 17:44] tarishij17 commented on #1214
Plz review the PR and let me know for any updations : https://github.com/newsboat/newsboat/pull/1215

[2020-10-04 19:17] Minoru opened #1216 "Tests fail on Void Linux x86_64-musl"
Reported by [package maintainers in Void Linux](https://github.com/void-linux/void-packages/pull/24742#issuecomment-703294602).

**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: 2.21

[code]

[2020-10-06 01:41] A1RO commented on #412
Following @jfrech comment, I changed all of my [color](https://newsboat.org/releases/2.21/docs/newsboat.html#_configuring_colors) and [highlight](https://newsboat.org/releases/2.21/docs/newsboat.html#_highlighting_text) backgrounds to `default`, plus added the `invis` attribute as mentioned. Even with a dark background, the `black` color was lighter than my terminal's background. Of course, result

[2020-10-06 11:43] mrossinek commented on #403
I also just came across this issue because just like @glacambre I am also subscribed to quite a few arXiv feeds.
Although technically I don't mind the header of the articles as much, I would like to use the author field in the `articlelist-format`.
However, with the HTML not being rendered properly I only ever get to see parts of the `<a>` tag.

Thus: do you see the possibility to extract the HTML

[2020-10-06 13:03] Minoru opened #1218 "Add help dialog to URL view dialog"
As pointed out in https://github.com/newsboat/newsboat/pull/1213#issuecomment-703368329, as of 2.21 the URL view (_src/urlviewformaction.cpp_) lacks the help dialog. This is a problem because the URL view supports a lot of operations which aren't mentioned in the "hints" line at the bottom of the screen.

This can be fixed by copying code that handles `OP_HELP` in any other dialog, like _src/feedl

[2020-10-06 13:47] Minoru commented on #403
The header and the `articlelist-format` both use the same "authors" getter, so resolving this issue will also fix `articlelist-format`. My outline for a fix is right above your comment, but someone got to try it and see if it has any problems.

As a user, you can also write [a filter](https://newsboat.org/releases/2.21/docs/newsboat.html#_scripts_and_filters_snownews_extensions) that will process

[2020-10-06 16:17] mrossinek commented on #403
Thanks for getting back to me so quickly!
Unfortunately, I don't have the time to start on an implementation of your proposal myself, but I will definitely check out the filters which you mentioned. I didn't know this functionality existed!

[2020-10-06 19:45] Minoru commented on #1214
Fixed by #1215.

[2020-10-06 19:45] #1214 closed

[2020-10-08 21:41] A1RO commented on #1205
I kept in mind this FAQ item in #1201

---

I rephrased this part

with

plus I mentioned a way to open text-based browsers in a dedicated terminal:

emulator, which will in turn execute the remainder of the browser command.
Standard output do not need to be silenced with this technique.
Here, `alacritty` is used. Of course, you can replace it with your go-to
terminal emulator, just remember to se

[2020-10-08 21:53] A1RO commented on #1205
At this point, if you are fine with #1201 (I can still modify it before merge), this FAQ item can either be removed, or simplified while adding a link to "Separating Browser from Newsboat" for reference. But the same content should not be present in both pages IMHO.

[2020-10-08 23:22] Minoru commented on #1205
I fully agree.

I'd choose that route. I don't mind you doing the changes, just use a separate PR for that — we'll probably get stuck discussing the wording again, and that'll block #1201 for no good reason. Small steps are better :)

[2020-10-09 13:01] Minoru opened #1222 "Drop google_replay table from the database"
Our database has [a `google_replay` table](https://github.com/newsboat/newsboat/blob/ee0de5ee3f43600c7ce14d30b147f98ad7347366/src/cache.cpp#L317-L321) that was needed for Google Reader integration. That integration was removed [years ago](https://github.com/newsboat/newsboat/commit/be58132a9e94b69b489cb111da4855ce6391e7480) following the demise of Google Reader itself, so we don't need the table a

[2020-10-09 15:01] alhassanaraouf opened #1223 "Time out when loading Articles from nextcloud"
Newsboat load urls from nextcloud news instanse but don't load the articles except starred ones

**Newsboat version**:
newsboat v20200917-1109-g0546b
System: Linux 5.8.14-0-edge (x86_64)
Compiler: g++ 10.2.0
ncurses: ncurses 6.2.20201003 (compiled with 6.2)
libcurl: libcurl/7.72.0 OpenSSL/1.1.1h zlib/1.2.11 brotli/1.0.9 nghttp2/1.41.0 (compiled with 7.72.0)
SQLite: 3.33.0 (compiled with 3.33.0)
li

[2020-10-09 15:23] Minoru commented on #1223
Thank you for the report! Pastebins have a tendency to expire, so I'll copy the contents over here.

One detail that was mentioned on IRC but not here: this is Newsboa from edge repos of Alpine Linux, but you also experienced this on Arch Linux a month ago (with unknown version).

[2020-10-09 15:49] alhassanaraouf commented on #1223
yes the problem happend to me with newsboat in alpine and arch repos but both with same nextcloud instance,

actually i will try testing it with other nextcloud instance today and report back

[2020-10-09 15:55] Minoru commented on #1223
In the meantime I verified that "v20200917-1109-g0546b" corresponds to a build from this commit: https://git.alpinelinux.org/aports/commit/?id=0546b768ff4e1b48b085635a211854d4f9ff69f4 Should be equivalent to Newsboat 2.21.

[2020-10-09 19:10] Minoru commented on #468
Some relevant thoughts in https://github.com/newsboat/newsboat/pull/1224#discussion_r502544137.

[2020-10-09 19:11] Minoru commented on #1010
Some relevant thoughts in https://github.com/newsboat/newsboat/pull/1224#discussion_r502544137.

[2020-10-09 23:52] Minoru opened #1225 "CI: "more warnings and errors" should *really* do release builds"
We have two CI jobs that enable extra C++ warnings. To increase the precision of those warnings, [we enable compiler optimizations](https://github.com/newsboat/newsboat/blob/32418bf8b191f0f5aa8a62c34a798877fa652405/.cirrus.yml#L194). However, [the build logs](https://cirrus-ci.com/task/6506546056134656?command=build#L11) clearly show that we still pass `-O0 -fprofile-arcs -ftest-coverage`, i.e. we

[2020-10-09 23:53] Minoru commented on #1225
I'd work on this myself, but I'm busy integrating cxx crate. After that I need to finish #1203, and then get back to #631.

So yeah, this issue is a good opportunity for someone to learn about our CI a bit, if anybody is so inclined.

[2020-10-10 00:35] alhassanaraouf commented on #1223
I just installed new Nextcloud instance on AWS for testing and everything worked fine it was even faster in loading urls and reloading feeds

so i think the problem with the instance i use, i will contact the provider and try fixing the problem

[2020-10-10 18:01] #893 closed

[2020-10-10 20:53] #595 closed

[2020-10-12 10:23] bouleusis commented on #111
Any new about this?

[2020-10-12 11:49] Minoru commented on #111
@bouleusis This bug was fixed in Newsboat 2.21. (Although I somehow forgot to add it to the corresponding milestone. Fixed that now.)

[2020-10-12 14:25] linwaytin opened #1227 "Itemlist doesn't squash consecutive spaces into one"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
newsboat 2.21.0 - https://newsboat.org/
Copyright (C) 2006-2015 Andreas Krennmair
Copyright (C) 2015-2020 Alexander Batischev
Copyright (C) 2006-2017 Newsbeuter contributors
Copyright (C) 2017-2020 Newsboat contributors

Newsboat is free software licensed under the MIT License. (Type `newsboat -vv' to see the

[2020-10-12 14:40] roman-holovin commented on #1156
Turns out using newsboat over ssh from the phone is not a pinnacle of the user experience :) I wrote my own web frontend (with very thin backend) around newsboat's `cache.db` and therefore this issue is no longer relevant to me. Sorry for taking your time.

[2020-10-12 14:40] #1156 closed

[2020-10-12 14:46] Minoru commented on #1227
Hi, thanks for a good report! Can you please give me a few ArXiv URLs where you're seeing this?

Also, what's an "abstract view"? Do you mean the web page corresponding to the article?

[2020-10-12 14:51] Minoru commented on #1156
Yeah, I doubt it's possible to make a useable TUI for mobile: the screen is tiny, the keyboard is subpar.

Please note that we don't provide any guarantees about our database scheme; it's an implementation detail. Don't forget to make backups ;)

And thanks for filing the issue in the first place! It's hard to know what people need unless they come forward to talk about it, so reports are apprecia

[2020-10-12 15:42] linwaytin commented on #1227
Sure. For example, https://arxiv.org/abs/2010.03900v1
By "abstract view" I mean the view entered by clicking Return, showing the detail of the article.
Sorry I don't know the correct name for this.

Actually, I just found the source of the additional spaces.
1. Fetch the xml file from say `http://export.arxiv.org/api/query?search_query=cat:cond-mat.stat-mech&start=0&max_results=100&sortBy=lastUpda

[2020-10-12 16:25] Minoru commented on #1227
Thanks!

Kind of. XML parser returns what it finds, and it's up to the application to decide what to do about it. Since the `<title>` tags don't have `type` attribute, we treat them as text, which implies we're free to do whatever we want to the whitespace ([RFC 4287 §3.1.1](https://tools.ietf.org/html/rfc4287#section-3.1.1)). So we do something in the "item view" (what you called "abstract view")

[2020-10-12 16:40] linwaytin commented on #1227
Great! Thanks for clarifying this.
Will this behavior be changed in the future?

[2020-10-12 16:42] Minoru commented on #1227
I'll know when I figure out what causes it :)

[2020-10-13 03:39] araujo0205 opened #1228 "tt-rss Starred articles"
Is possible to show tt-rss Starreds articles ?
For example, inoreader have option `inoreader-show-special-feeds` but tt-rss don`t.

**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
newsboat 2.21.0 - https://newsboat.org/

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

[2020-10-13 11:56] linwaytin commented on #1227
Thank you!

[2020-10-13 13:49] Minoru commented on #1228
Currently, no. We have an issue for that already — #270 — so I'm closing this one.

[2020-10-13 20:54] araujo0205 commented on #270
I using tt-rss in two devices, but the starred is not sync, the newsboat only send with `ttrss-flag-star`.
if I star in one device the other don`t see the new starred article.

[2020-10-18 11:07] tsipinakis opened #1231 "Setting to modify Accept-Language header"
I've recently ran across an IRC feed that modifies the content language based on the `Accept-Language` header.

As discussed with @Minoru on IRC: We should have an option set the value of that header and possibly preset it based on the users current locale.

@Minoru also pointed out that these headers are usually used for fingerprinting so we should consider whether we want it to be set globally o

[2020-10-19 11:59] Minoru commented on #791
I'm pretty sure this is fixed by 2.21, so I'm closing the issue. Please re-open if you can still reproduce with 2.21.

[2020-10-19 11:59] #791 closed

[2020-10-19 21:09] dennisschagt commented on #1227
The "ItemView" uses `utils::consolidate_whitespace()` to remove duplicate spaces.
This can be seen in the following gdb backtrace:
![image](https://user-images.githubusercontent.com/4629607/96511481-6de74c00-125f-11eb-8e72-eb8994927630.png)

The "ItemList" does not call any such function when formatting the article titles.

[2020-10-19 22:48] Minoru opened #1233 "Mention docs, IRC and mailing list in --help"
`cargo crev` nicely points people at the Matrix room and online docs:

[code]

I like that, and would like Newsboat to do the same. To avoid taking up too much space, I think it should only mention our site, our IRC channel, and our mailing list.

This issue is a good place to start for someone who's only getting into hacking on Newsboat. I think you can find the places to update by grepping for "

[2020-10-19 22:53] Minoru opened #1234 "Constify ConfigActionHandler::dump_config"
(The method `ConfigActionHandler::dump_config`](https://github.com/newsboat/newsboat/blob/e4f28127f6126a82bc2bd5a3025c46858b4af9d1/include/configactionhandler.h#L15) writes the handler's configuration into a vector of strings. It's obvious that this method *shouldn't* modify its object, so we should mark it `const`. However, this requires updating all the implementers of this method, which is a bi

[2020-10-19 22:59] Minoru opened #1235 "In docs, always capitalize "Newsboat" and "Podboat""
Our docs currently use "newsboat" and "Newsboat" interchangeably. Ditto with "podboat" and "Podboat". I think this is wrong: lowercase names should denote commands, while capitalized versions should mean programs/products. We should go through the docs and adjust them accordingly.

Filing a whole issue for that because `sed -i 's/newsboat/Newsboat/'` is not sufficient :)

[2020-10-20 12:11] Minoru commented on #1227
Ah. Thanks for figuring that out! I think we can call `utils::consolidate_whitespace()` from the `ItemList` then.

[2020-10-20 16:33] panvicka commented on #1235
Hello,
can I work on this? Thanks :)

[2020-10-20 16:41] Minoru commented on #1235
Sure!

[2020-10-20 19:58] g4570n commented on #1145
Today reviewing the documentation I found an option in the **Configuration Commands** table, which I had overlooked, it is: `reload-only-visible-feeds`, if it is configured as `yes`, it only updates the feeds within a tag or filter that is visible, when we use `R` (reload-all)

This resolved the query I had made on the irc channel a few weeks ago :)

[2020-10-20 23:21] dashezup commented on #1145
@g4570n Thanks, I just tried `reload-only-visible-feeds`, so we just need to set this to `yes` and then list feeds under the tag, press `R` will only refresh feeds under this tag.

I think this issue can be closed now, `reload-only-visible-feeds` exactly solves the needs of reloading feeds under specific tag, extra implementation is not needed.

[2020-10-20 23:21] #1145 closed

[2020-10-21 15:49] davbrito commented on #1234
Assign this issue to me please.

[2020-10-21 16:21] Minoru commented on #1234
Sure. Thanks for taking a stab at this!

[2020-10-21 16:27] nick-cd commented on #1233
May I do this? :)

[2020-10-21 16:36] Minoru commented on #1233
Sure! Assigning it to you.

[2020-10-21 16:48] Minoru commented on #1235
#1236 uncovered a couple places where changing capitalization requires changing the code:
- https://github.com/newsboat/newsboat/pull/1236#discussion_r508785106
- https://github.com/newsboat/newsboat/pull/1236#discussion_r508788630
- https://github.com/newsboat/newsboat/pull/1236#discussion_r508789978

To fully fix this issue, these have to be updated as well.

[2020-10-21 16:57] Minoru commented on #1235
Unassigning @panvicka because they did their part, now we need to update the code to fix the remaining three places in the doc.

[2020-10-21 17:00] Minoru commented on #1234
@davbrito By the way, if you run into any trouble setting up a build environment for Newsboat, please comment here (or open new issues). I believe we have sufficient docs for that, but I'm not sure how many people are actually building Newsboat from scratch. It'd be nice to learn about all the bumps you run into (if any).

[2020-10-21 18:08] nick-cd commented on #1233
Hey @Minoru, I referenced the issue to show what I was thinking before I open a PR. Is this ok?

[2020-10-21 18:25] Minoru commented on #1233
@nick-cd Looks good. Don't forget to update the other executable, Podboat, as well ;)

BTW, you can submit a so-called "draft PR" and make it ready for review whenever you want. PRs are preferred because the review tools there are much better than comments on individual commits.

[2020-10-21 18:58] nick-cd commented on #1233
Oh lol, my bad.

Ah ok, thanks for letting me know :+1:

[2020-10-21 20:18] #1233 closed

[2020-10-22 13:53] #1234 closed

[2020-10-22 15:12] davbrito commented on #1077
Hello @Minoru
Assign this to me please.

[2020-10-22 15:30] Minoru commented on #1077
Wait, Nom 6 [is still in beta](https://crates.io/crates/nom). Are you sure this issue can be fixed yet, @davbrito?

[2020-10-22 17:07] davbrito commented on #1077
Oh. Sorry. I read wrong.

Oh. Sorry. I read this wrong.

[2020-10-22 17:15] Minoru commented on #1077
No problem ;) Technically, you *could* implement this with Nom 6-beta, but you'd then have to rebase onto a current `master` once Nom 6 comes out, which might create Git conflicts for you to resolve. So I think it's better to just postpone this issue until Nom 6 is out.

[2020-10-22 20:26] davbrito commented on #1077
Ok. I think it's a good idea to wait.

El jue., 22 de oct. de 2020 1:16 p. m., Alexander Batischev <
notifications@github.com> escribió:

[2020-10-23 17:40] #1227 closed

[2020-10-23 19:59] jartigag commented on #871
Hi! Thanks for Newsboat, it's great :heart_eyes:

I was looking for this feature when I find this issue. I also agree this should be scripted externally.

That's why I wrote this script. It's kinda dirty, but if your feeds have only one tag, it does the trick:
https://gist.github.com/jartigag/4df8a2d802479450fd319e22e5364897

I just wanted to share it, in case someone ends here when searching how

[2020-10-23 20:02] Minoru commented on #871
@jartigag, thanks! You can submit it to our "contrib" directory if you want, though it might need a few more comments explaining what it's for.

[2020-10-24 20:55] #1218 closed

[2020-10-24 21:26] Minoru commented on #1077
[Nom's author suggested an alternative approach](https://github.com/Geal/nom/issues/1197#issuecomment-715891128): create our own error type and write our own `context` combinator. I didn't look too deep into this, but apparently it'll require us to duplicate quite a bit of code, but that might just be a wrong impression. Further investigation required :)

I think it's fine to try this out against

[2020-10-26 14:29] #389 closed

[2020-10-26 14:29] #390 closed

[2020-10-27 09:05] #439 closed

[2020-10-27 10:41] eeqlsmc3 commented on #657
Hello, I would like to work on this issue. I have read the code style guide. Can you direct me on how I should proceed with it?

[2020-10-27 11:00] Minoru commented on #657
Hi! I'm not sure what kind of guidance you need, but one thing that the above post doesn't explain is what the `save-all` even is, and how to use it. Here's a quick intro:

0. create a temporary directory somewhere (we'll use it later);

1. create ~/.newsboat/config with the following content:

[code]

2. create ~/.newsboat/urls with the following content:

[code]

    This is an Atom feed about N

[2020-10-27 15:35] mdosch opened #1247 "Show unread counter in tag view"
First I want to thank you for this useful software. 👍

Most of the time I navigate through the tag view `t` which shows me the tt-rss categories. But it looks like it is showing only the amount of feeds for each tag. I'd really appreciate if I'd see how many unread articles are there for each tag too.

If this can already be configured than I have to admit that I wasn't able to find it.

[2020-10-27 16:03] dennisschagt commented on #1247
This might be possible by configuring the `selecttag-format` option.
Its documentation suggests the following (example) configuration: `selecttag-format "[%2i] %T (%n unread articles in %f feeds, %u feeds total)"` where the `%n` identifier probably does what you want:
https://newsboat.org/releases/2.21/docs/newsboat.html#selecttag-format-n

[2020-10-27 16:32] mdosch commented on #1247
That's exactly what I want! Thank you. :)

On 27.10.2020 09:04, Dennis van der Schagt wrote:

[2020-10-27 18:53] Minoru commented on #1247
Since the question got answered, I'm going to close this. Thanks for handling this, @dennisschagt!

[2020-10-27 18:53] #1247 closed

[2020-10-29 12:38] nick-cd commented on #1209
Hey, I was thinking about this one. This one doesn't seem too difficult (I hope, lol).

Do you have a particular way you would want this implemented?

[2020-10-29 13:33] Minoru commented on #1209
Hey, cool! The message should be put into "msg" field of the dllist ­— see src/pbview.cpp. That field is displayed at the bottom of Podboat's window.

Other than that, I can't think of any other requirements.

[2020-10-29 16:44] #1135 closed

[2020-10-29 16:44] #888 closed

[2020-10-30 13:46] Minoru commented on #657
Hey @eeqlsmc3, have you started on this? Are there any roadblocks?

I'm not trying to hurry you, just making sure you aren't stuck with something. Please ask questions!

[2020-10-30 14:37] dennisschagt commented on #888
This will be possible in the next releaseof Newsboat (or by building from the current master branch).

You can use the `run-on-startup` option in the config file to select a feed based on (part of) its title and then open it, e.g.:
[code]

[2020-10-31 03:51] Seirdy opened #1251 "Support Gemini feeds"
It would be great if Newsboat could support `gemini://` feeds ([example](gemini://drewdevault.com/feed.xml)) without having to run something like a local gemini->http proxy. [More info about Gemini](https://gemini.circumlunar.space/)

[2020-10-31 06:48] m040601 commented on #1251
+1 :+1:

[2020-10-31 07:22] JJohnGreenSr commented on #1251
+1 👍

[2020-10-31 09:45] Minoru commented on #1251
@Seirdy Thanks for the suggestion!

If anyone wants to work on this, the best way to implement it would be:

1. add a function somewhere in the rust/libnewsboat create that fetches a file from Gemini. It doesn't (probably even *shouldn't*) be async, as we don't have an async runtime yet, and I'm not ready to drag one into the project right now. It's fine, all our other fetchers are synchronous too

[2020-10-31 09:48] Minoru commented on #1251
@m040601, @JJohnGreenSr: GitHub supports [reactions](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/about-conversations-on-github#reacting-to-ideas-in-comments), which is a way to express your support without spamming all of the repo's watchers. Please use that in the future. Thanks.

[2020-10-31 15:26] #1182 closed

[2020-11-01 15:34] dennisschagt commented on #476
I think this use case is now possible because of https://github.com/newsboat/newsboat/pull/1249.
For example, use config option:
[code]

It might still be useful to integrate "commands" and "operations".
@Minoru: Do you want to create a separate issue for the ideas introduced in https://github.com/newsboat/newsboat/issues/476#issuecomment-480580542?

[2020-11-01 17:27] dennisschagt commented on #473
I can reproduce it on 2.14.1 but can no longer reproduce this on the latest version of Newsboat

Git bisect points to https://github.com/newsboat/newsboat/commit/c535b1c5f89dd76e4cc450e19cc53433c92b013e (https://github.com/newsboat/newsboat/pull/608).

[2020-11-01 17:27] #473 closed

[2020-11-01 17:48] Minoru opened #1258 "Unify command-line commands with operations"
Answering questions from https://github.com/newsboat/newsboat/pull/478:

That's a good point. However, `:save` and `save` only differ in the interface: one wants the filename as a command-line argument, another asks for it interactively. A unified `save` command would do both: use an argument if it's provided, otherwise ask interactively.

This behaviour will be common to all commands, so it shoul

[2020-11-01 17:49] Minoru commented on #476
@dennisschagt Yep, good idea, thanks! I extracted that comment into #1258.

Since this issue has been addressed, I'm closing it.

[2020-11-01 17:49] #476 closed

[2020-11-01 20:02] dennisschagt commented on #93
It looks like this is possible with the `run-on-startup` option (https://github.com/newsboat/newsboat/pull/1134).

An example configuration:
[code]
or
[code]

[2020-11-01 22:15] Minoru commented on #1251
Out of curiosity I skimmed the spec. A couple things jumped out at me:

1. **there's no support for caching.** It's probably left out for simplicity, but I think that's a wrong balance for feeds: they can weigh hundreds of kilobytes and change less often than they're requested. Weird.

2. **self-signed certificates and TOFU** would require control over the TLS layer, which Newsboat defers to curl.

[2020-11-02 13:09] Minoru commented on #1077
Hey @davbrito, Nom 6 just came out, and our code fails to build with it: https://github.com/newsboat/newsboat/pull/1260 Fixing that might be a good first step to learning about Nom 6 and how we use it. Would you like to work on that?

[2020-11-02 14:32] Minoru commented on #657
I assume @eeqlsmc3 abandoned this issue (which is fine, we're all volunteers here), so I'm un-assigning them. This issue is now up for grabs!

[2020-11-02 15:16] davbrito commented on #1077
@Minoru I can try it but I will take my time since I must understand a little more about your codebase and nom.

[2020-11-02 15:36] Minoru commented on #1077
We aren't in a particular hurry, so it's fine. Please ask questions, I'm happy to help (and to change code if something is done in a really obtuse and hard-to-grasp way).

[2020-11-02 15:42] davbrito commented on #1077
Ok. So I'll do it. Thank you for the support.

[2020-11-02 17:31] ATM-SALEH commented on #657
Actually, I was looking at this issue. Haven't looked over in detail, though. I will try to allocate some time next week and come back with a plan.

[2020-11-02 17:39] Minoru commented on #657
Cool, looking forward to that @ATM-SALEH!

[2020-11-02 19:37] stevenmos opened #1261 "When downloading podcasts, provide an equivalent to --restrict-filenames (c.f. youtube-dl)"
newsboat 2.15.0  (a bit behind because Solus doesn't provide a package any more and I've been tinkering with my config before recompiling)
System: Linux 5.6.19-158.current (x86_64)
Compiler: g++ 9.3.0
ncurses: ncurses 6.2.20200212 (compiled with 6.2)
libcurl: libcurl/7.73.0 OpenSSL/1.1.1h zlib/1.2.11 libssh2/1.9.0_DEV nghttp2/1.41.0 (compiled with 7.72.0)
SQLite: 3.33.0 (compiled with 3.33.0)
libx

[2020-11-02 20:18] Minoru commented on #1261
Hey, thanks for the report!

Why should it? What's wrong with spaces?

The main issue for this is #1208

Let's treat this as a definition of done for this issue: it's fixed if apostrophes don't break Podboat's "play" functionality.

[2020-11-02 20:42] stevenmos commented on #1261
No problem.  Thanks for replying.

I generally avoid them.  They're a bit of a pain on the command line or when scripting.  It would be nice to have the option, like with yt-dl, if not as the default (%t) then with another specifier (perhaps %T).

It might also be worth checking other `special' characters.

[2020-11-02 20:46] cannyboy opened #1262 "Edit current highlighted feed url"
I often want to edit (or delete) the feed that is currently highlighted. Since I have hundred of feeds, this can get a bit painful. I have to scroll down or search for the url after pressing E to edit.

What would be useful is (by pressing lowercase ‘e’) it could go directly to the line in the text editor.  In vim for instance, this is achieved by:

`vim +99 urls`

... to go to the 99th line of ur

[2020-11-02 21:32] Minoru commented on #1261
Ah, sorry, I should've read youtube-dl manpage before replying:

So the space isn't the only char that's restricted, it's pretty much all of them save for the ones that are in ASCII. That makes much more sense.

Okay then, let's consider this issue done when there is an option `pb-restrict-filenames` which does the same to *all* specifiers as `--restrict-filenames` does in youtube-dl.

@stevenmos

[2020-11-02 21:41] Minoru commented on #1262
Yup, good idea. Previous discussion in Newsbeuter: https://github.com/akrennmair/newsbeuter/issues/258

I think the main obstacle here is that different editors (might) use different CLI options for this. Since the editor in Newsboat is configured via the standard `VISUAL` and `EDITOR` environment variables, we can't expect the user to add these specifics to the environment. I see two ways out:

1

[2020-11-02 22:36] cannyboy commented on #1262
Just did a little testing and vim, neovim, nano, emacs all use the `+99` syntax for jumping to the line number. I'm guessing that covers over 90% of users? Perhaps it's possible for newsboat to just disable the line jump shortcut if they don't use these common editors.

[2020-11-02 22:49] Minoru commented on #1262
Ah, cool! I somehow assumed that Emacs would have a very different way of doing this, but I'm glad to be wrong.

On to the detection, then. I think just taking the final component of the path is fine, e.g. `/usr/bin/vim` means "vim". I can think of a couple cases there this will break:

1. /usr/bin/vim.basic, /usr/bin/vim.tiny won't be detected as "vim", and won't be supported (Debian packages Vim

[2020-11-03 03:02] m040601 commented on #1262
I can't think of it right away. But I will sure do my best to do my searches on this topic, now that I see there is interest and motivation in this.

What I can say, as a long time (years and years) Newsboat use is that this one , is one of those tiny little things that make a huge impact.
Totally worth the effort put into it.

..... vim, neovim, nano, emacs ....I'm guessing that covers **_over 90

[2020-11-03 10:50] stevenmos opened #1263 "Apostrophes break Podboat's "play" functionality"
newsboat 2.15.0
System: Linux 5.6.19-158.current (x86_64)
Compiler: g++ 9.3.0
ncurses: ncurses 6.2.20200212 (compiled with 6.2)
libcurl: libcurl/7.73.0 OpenSSL/1.1.1h zlib/1.2.11 libssh2/1.9.0_DEV nghttp2/1.41.0 (compiled with 7.72.0)
SQLite: 3.33.0 (compiled with 3.33.0)
libxml2: compiled with 2.9.8

[code]

When downloading a podcast with an apostrophe (') in the title, Podboat failed to play it

[2020-11-03 11:06] dennisschagt opened #1264 "Space character in url breaks podboat queue format"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: newsboat r2.21-130-g61570

Config file: Empty

Steps to reproduce the issue:

1. Open an article for which the enclosure URL contains a space

2. Press `e` to enqueue the URL

3. Start podboat. Observe that the download URL is incomplete. The part of the URL after the space is shown as the filename (without an

[2020-11-03 13:02] Minoru commented on #1262
In case I came across as a perfectionist chasing clouds: my goal when asking for the best possible solution is not to dissuade from working on this, but to explore possibilities and get a detailed picture of the strengths and weaknesses of a particular solution. User-visible changes are held to an even higher standard because they are hard to fix afterwards; by exploring alternatives, we also find

[2020-11-03 13:10] Minoru commented on #1264
Thanks! I'd go with option 1, since it keeps the URL useable outside of Newsboat (e.g. I can click on it in Xfce4Terminal and it will work fine, unlike in option 2 which will break double quotes).

[2020-11-03 14:00] Minoru commented on #1031
Our docs suggest to use FeedHQ integration for working with BazQux, so we can't just remove that code. Instead, the following has to be done:

1. rename all `feedhq-` settings to `bazqux-`;
2. rename `FeedHqUrlReader` and `FeedHqApi` classes, and their files too;
3. change error messages mentioning FeedHQ to mention BazQux instead;
4. update the docs: the doc for FeedHQ becomes a doc for BazQux, t

[2020-11-03 16:02] der-lyse commented on #1262
Great idea, I have exactly the same use-case and would greatly appreciate such a feature!

Here's a potential pitfall for the implementation: I'm not sure whether Newsboat already remembers the original line number for each feed URL. This is important as empty lines and commented out lines are ignored when loading the _urls_ file. Therefore simply using the feed index won't work as users might end

[2020-11-03 17:34] stevenmos commented on #1251
@Minoru, a Gemini implementation, e.g. https://git.sr.ht/~sircmpwn/gmni, might go some way to addressing these concerns.

[2020-11-03 18:00] Minoru commented on #1251
@stevenmos Reading it made me realize that the TOFU problem is even harder than I thought, so thanks; I updated my above comment. Other than that, not sure which part of the code you wanted me to read.

[2020-11-03 18:03] Minoru commented on #1262
Ah, right. Also, feeds received from a remote API like Inoreader won't have a line number at all, because they aren't in the urls file.

Definitely. I overlooked the `e`/`E` spelling in the top post, and just assumed that this is extending the `edit-urls` op instead of introducing a new one.

[2020-11-03 18:20] stevenmos commented on #1251
It was meant in the vein of a general point of information.  Not knowing much at all about it, I rather naively saw ``CLI utility (like curl)'' and thought it might be a drop in replacement for curl for gemini.

[2020-11-03 20:01] Seirdy commented on #1251
While curl does not support Gemini, there exist other curl-like programs
that were made for gemini. gmni[0] and gurl[1] are two examples.

[0]: https://sr.ht/~sircmpwn/gmni/
[1]: https://github.com/MasterQ32/gurl/

On the Rust side, @Xe has put together maj[2].

[2]: https://tulpa.dev/cadey/maj

More software is listed at the Gemini project's Gemini space:
gemini://gemini.circumlunar.space/softwar

[2020-11-04 11:52] Xe commented on #1251
It's back up. The lesson of the day is to not set up services with openrc

[2020-11-04 15:43] #1209 closed

[2020-11-07 01:45] nick-cd commented on #921
I think I can help out with this one! This one looks interesting.

[2020-11-07 13:33] vipzhicheng opened #1267 "Feature request: Show config value in config"
What I need is:

feedlist-title-format

What I want to use as a token is "use-proxy"

The final config may look like as below

[code]

When I use newsboat, it shows at bottom:

[code]

When I change use-proxy to no using micro, it shows

[code]

Is this an already exist feature? or is it easy to implement in the future?

[2020-11-07 13:48] Minoru commented on #921
Cool! Have at it ;)

[2020-11-07 14:56] Minoru commented on #1267
Hi! No, this feature doesn't exist yet. I'm not entirely convinced it's even needed: why not change `feedlist-title-format` in the same macro that changes `use-proxy`?

[2020-11-07 15:00] #896 closed

[2020-11-08 16:38] Minoru opened #1270 "Document which settings are localized"
Mutt 2.0 just came out, and their [release notes](http://www.mutt.org/relnotes/2.0/) contain this interesting bit:

Newsboat also has some localized settings, e.g. `articlelist-title-format`. They're easy to spot because their values are enclosed in `_( … )`, like [here](https://github.com/newsboat/newsboat/blob/8d8b478003f50b3d38c772164c6704c1b7159e16/src/configcontainer.cpp#L272-L274).

To fix t

[2020-11-09 04:55] m040601 commented on #1171
This is really an interesting discussion.
And one of those, which goal might not be get an "immediate answer" but is very usefull in thinking about the real power and functionality of newsboat.

I'm gonna leave some more additional thoughts, comments and examples here, so that it can be referenced and easly found in the future.

Thinking deeper about the bookmarking functionality, the boomark scri

[2020-11-10 12:47] dennisschagt opened #1273 "Regression: External Newsreading services now require the urls file to exist and be readable"
**Newsboat version**: 6247cea64e860f4a6d77f6f354e1b830440dc8df (current master)

Config file:
[code]

Steps to reproduce the issue:

1. Configure an external newsreading service (e.g. Nextcloud with the provided config)

2. Start Newsboat without creating a `urls` file

3. Observe that Newsboat does not start, even though there are feeds configured in Nextcloud

**Other info you think is relevant*

[2020-11-10 12:57] dennisschagt commented on #1273
The UrlReaders for the external newsreading services currently error out when the generic UrlReader cannot open the `urls` file for reading:
https://github.com/newsboat/newsboat/blob/6247cea64e860f4a6d77f6f354e1b830440dc8df/src/ocnewsurlreader.cpp#L25-L28

Previously, before https://github.com/newsboat/newsboat/pull/1245, this was ignored and the external feeds were loaded as usual.
Now they retur

[2020-11-10 14:57] Minoru commented on #1273
I think that's the right thing to do. Logging it at `DEBUG` level seems fine; `USERERROR` is not appropriate since it's not really an error to *not* have a urls file.

Thanks for checking all those edge cases! That's what *I* should've done when reviewing #1245 :(

[2020-11-10 15:53] #1273 closed

[2020-11-10 20:10] dennisschagt commented on #93
Closing this issue as the requested option is now available (see my previous comment).
Feel free to reopen this issue if you disagree or if anything is unclear.

[2020-11-10 20:10] #93 closed

[2020-11-10 20:29] Minoru commented on #93
I was hoping @dikeert would check it out, but apparently that's not going to happen, so it's fine. Thanks for keeping the issue tracker tidy, @dennisschagt  ^_^

[2020-11-10 22:39] dennisschagt commented on #117
While thinking about this issue, I came up with various solutions:
1. Make the save dialog actually modal, specifically:
    - Make it impossible to switch from an open save dialog to any other dialog (except by closing it altogether)
2. Cancel the save-dialog as soon as the user switches to a different dialog
3. Remove the special "modal" handling of the save dialogs. Instead, add callbacks (impl

[2020-11-11 12:38] vipzhicheng commented on #1267
Got it, I have already tried, it works, but not that convenient.

[2020-11-11 17:22] Minoru commented on #117
Yeah, options 3 and 4 are better IMHO because the user can consult other dialogs before saving a file.

With option 3, how do you plan to ensure that the initiating dialog is not closed while the save dialog is still open? If this is not enforced, the callback might try to access deallocated memory (e.g.  `ItemListFormAction::save_file` requires access to `ItemListFormAction`'s `View` to display e

[2020-11-11 17:28] Minoru commented on #220
@arjan-s, @nononomen: can you try out #1275 and tell us if this fixes the bug?

[2020-11-11 17:46] Grotax opened #1277 "Breaking change in Nextcloud News 15.1.0"
With news 15.1.0 we have a change in the feed attribute "folderId", if the feed is in the root folder the id will be "null" instead of 0.

See https://github.com/nextcloud/news/issues/939

Steps to reproduce the issue:

1. Install News 15.1.0-rc2

2. sync with client

3. 0 -> null

[2020-11-11 17:52] dennisschagt commented on #117
By capturing the shared pointer of the ItemListFormAction in the callback.
Getting a shared pointer to the FormAction (without ownership loops) can be done in two different ways:
- Let the `View` pass it into the `process_op()` function every time an event is handled
- Use `std::shared_from_this()`, mentioned here: https://devblogs.microsoft.com/oldnewthing/20190104-00/?p=100635 (doc: https://en.c

[2020-11-11 17:59] #26 closed

[2020-11-11 17:59] #63 closed

[2020-11-11 17:59] #1094 closed

[2020-11-11 18:42] dennisschagt commented on #1277
I just verified that Newsboat works fine when retrieving/reloading feeds from News 15.1.0-rc2.

We use `json_object_get_int()` to get the value of folderId, which handles `null` as if it read `0`:
https://github.com/newsboat/newsboat/blob/28b1be4404a957318d84e6bf894ad29e7bbca4be/src/ocnewsapi.cpp#L126-L132

From https://json-c.github.io/json-c/json-c-0.10/doc/html/json__object_8h.html#ae6cab7d4c7c

[2020-11-11 19:02] Minoru commented on #1277
@Grotax, thanks for notifying us in advance! Looks like we're well prepared, so I'm closing this issue.

[2020-11-11 19:02] #1277 closed

[2020-11-11 19:11] Grotax commented on #1277
Cool :)

[2020-11-11 19:33] Minoru commented on #117
Ah, so it *can* be closed, but we'll keep its memory around for as long as we need it. Makes sense.

Okay, another pitfall: if the save dialog is not modal anymore, the state of initiating dialog might change while the save dialog is running, and that can bork the callback. For example, the user could:

1. select an item in the itemlist and press `s`;
2. the save dialog opens;
3. user switches bac

[2020-11-11 20:03] arjan-s commented on #220
Hi, thank you for notifying me.
Essentially, it does fix the bug, but I'm afraid the implementation is not useful yet.
When marking a query feed read-all, the current implementation performs an API call to mark each and every article in the feed as read. There is one bug in the current code: it also performs the API call for articles that were already marked read. Changing this to only mark unread

[2020-11-11 22:44] Minoru commented on #220
Okay, thanks! Since the bug is *technically* fixed, I'll merge that PR.

As for performance, we do have a couple issues about it, e.g. https://github.com/newsboat/newsboat/issues/123 and https://github.com/newsboat/newsboat/issues/682. Improving that requires pretty drastic changes to how Newsboat works with remote APIs. I personally won't work on that until after the move to Rust, but #123 has so

[2020-11-11 22:44] #220 closed

[2020-11-12 11:08] philiprhoades opened #1282 "Slow "Loading https://www.youtube.com/feeds/videos.xml?channel_id=...""
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:

Fedora newsboat x86_64 2.16.1-2.module_f31+5225+6fde2dc4

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Open newsboat

2. Use "r" to update a feed

**Other info you think is relevant**:

I have been using newsbeuter for a while and then sud

[2020-11-12 14:21] Minoru commented on #1282
Hi! I don't have any YouTube feeds, so I don't have any first-hard experience there. I only got two ideas to check:

1. fetch the feed using something else, like curl or wget:

[code]

[2020-11-12 18:34] philiprhoades commented on #1282
@Minoru ,

Thanks for responding!:

newsboat time:  32s

curl time: 32s

Yes - which suggests the problem has nothing to do with newsbeuter / newsboat and has arisen in the last day on YouTube?

There was no change to the version of newsbeuter from one day when it was working OK, to the next day, when many YT channel feeds were suddenly slow . . hmm, looks like I am stuck with a YT issue . .

[2020-11-13 05:31] philiprhoades commented on #1282
After having problems with many of the YT feeds yesterday, everything is fine and working properly again today! - after that bit of recommended diagnosis I suspected a YT problem (I did download speed tests on other stuff to check) and it looks like that is what it must have been . .

Anyway, the upside from getting stuffed around a bit is that I found newsboat which seems to be a nicer update to

[2020-11-13 14:15] Minoru commented on #1282
Regarding the cache site: 23 megabytes is *nothing*. SQLite can handle gigabytes for sure. In fact, Newsboat's code gets slow way before SQLite becomes a bottleneck :)

And I'm sure glad you moved to Newsboat :) Fedora seem to keep Newsbeuter alive, rebuilding it for new releases and apparently applying some patches, but I believe it makes sense for everyone to move to a project that's still maint

[2020-11-13 14:15] #1282 closed

[2020-11-13 18:01] Minoru commented on #117
I think option 1 is really better. If anything, that's how people expect save dialogs to behave. I think it's fine if the initial implementation blocks `prev-dialog` and `next-dialog` ops, but we should be mindful of user experience. Ideally, users won't be able to bind those in save dialogs, but I don't think we have scaffolding for that. As a simpler measure, these ops can just display a message

[2020-11-14 20:52] h88e22dgpeps56sg opened #1288 "Podboat won't start when run-on-startup is in config file"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
newsboat 2.21.0

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. have `run-on-startup` in config

2. run podboat

Error message:
[code]

**Expected behavior**
Easy fix: Ignore the setting.
IMHO better fix: Have two separate settings for newsbo

[2020-11-15 08:32] plsdosomething opened #1291 "Timeout after 60 seconds although in the config file it's 5 minutes"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
newsboat r2.21

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Have server who responds after more than one minute

2. Set dowload-timeout over 60

3. Get following error after 60 seconds: [2020-11-15 09:14:02] Error while retrieving https://

[2020-11-15 10:39] Minoru opened #1292 "Regression: `open-in-browser` redraws the article list"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: r2.21-175-g3bee9

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. start Firefox (to avoid Newsboat blocking);

1. open a feed with four unread items (or more, but adjust the numbers below, then);

2. move to the second item. (Note: both the fi

[2020-11-15 11:04] Minoru commented on #1288
I agree, but Podboat doesn't have nearly enough operations for this to be useful. So I'll just merge #1289 that implements the easy fix. Thanks for the report!

[2020-11-15 11:04] #1288 closed

[2020-11-15 11:07] dennisschagt commented on #1292
I'm pretty sure the redraw is caused by the `set_redraw(true)` call near the end of `pop_current_formaction()`.
It wasn't hit before because we pushed a `nullptr` on the FormAction stack, causing `f == nullptr` to be true:
https://github.com/newsboat/newsboat/blob/3bee937fe8ea0de48a0b166107c720f0f0a6be67/src/view.cpp#L926-L964

This made me aware of another problem. With the provided configuration

[2020-11-15 11:15] dennisschagt commented on #1292
Never mind, error messages from a failing call to `open_in_browser()` are set after it returns, e.g.:
https://github.com/newsboat/newsboat/blob/4fa0572e0b589d8b7e7b93da6eca4fb91ee4ed8f/src/itemlistformaction.cpp#L138-L145

[2020-11-15 11:56] ATM-SALEH commented on #545
I can pick up this one, if nobody is working on this issue

[2020-11-15 12:16] Minoru commented on #1291
Does this write *the same error* to the error log? It should say "Timeout reached" instead of "Server returned nothing".

In general, "Server returned nothing" hints that it's the server who closes the connection without responding to Newsboat's request. Since it works in the browser, try making Newsboat mimic your browser:

1. go to https://ifconfig.co/json and copy `user_agent.raw_value` (or fin

[2020-11-15 12:17] #657 closed

[2020-11-15 12:21] Minoru commented on #545
@nick-cd considered working on this, but he's now busy with #1271, so I guess it's fine if you pick up this one.

[2020-11-15 12:39] Minoru commented on #1292
Yep :(

I agree that `do_redraw` serves two purposes, and should be split. `invalidate()` in itemlist kind of tries to do something similar, but it turns into a full redraw after `invalidate_everything()`.

Would you work on this? Since it's a regression, it better be fixed before the release. If not, I can revert the PR that introduced it, and then the deadline moves from "2.22" to "whenever".

[2020-11-15 13:01] dennisschagt commented on #1291
When comparing a request made by Newsboat and a request made by Firefox, I see two things Firefox does which Newsboat does not:
- Firefox configures TCP keep-alive
- Firefox sends HTTP header "Connection: keep-alive"

@plsdosomething: If you want, you could try compiling Newsboat with the following changes (and test if the issue still exists):
https://github.com/newsboat/newsboat/compare/master...

[2020-11-15 13:26] dennisschagt commented on #1292
I expect to have time for this next week.

Agreed, so I added it to the `2.22` milestone.

[2020-11-15 16:06] plsdosomething commented on #1291
@Minoru It does not write the same error. With the 13 seconds it says "Timeout was reached".
I tried mimicking the browser as you described, but I get the same error. I don't think the server closes the connection, it just doesn't send anything I'd guess because it is busy generating the feed or is overall overloaded.
Because this error occurs always exactly after 60 seconds of waiting, I thought

[2020-11-15 18:15] h88e22dgpeps56sg commented on #1288
Having a look at it again now, I totally agree with you. Thanks for the fast fix and thanks for this piece of software. :)

[2020-11-15 19:39] h88e22dgpeps56sg opened #1293 "Scrolloff ignored when opening article list"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
newsboat 2.21.0

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):
[code]

Steps to reproduce the issue:

1. Go into feed list

2. Have lots of read articles above an unread article in one feed.

3. Open article list of this feed.

**Description:**
Newsboat will scroll down to the first

[2020-11-15 20:14] Minoru commented on #1291
Thanks for the responses! Your patch is indeed equivalent to @dennisschagt's. It's a pity that didn't work.

I have one more idea: add [`always-download "https://:@privateuniversityfeed"`](https://newsboat.org/releases/2.21/docs/newsboat.html#always-download). This prevents Newsboat from sending If-Modified-Since and If-None-Matches HTTP headers. This makes Newsboat look like a client that fetches

[2020-11-16 13:35] #1293 closed

[2020-11-16 13:36] Minoru commented on #1293
Thanks for the report, @h88e22dgpeps56sg! @dennisschagt just fixed this via #1294. You can build from Git, or just wait a month for Newsboat 2.22 to come out — it will include this fix.

[2020-11-16 16:03] Minoru commented on #1251
After thinking about this for a bit more, I think the TOFU and client cert stuff will inevitably make it into the config and/or the TUI. Client certs can be universally useful (as HTTPS uses them too), but TOFU is a purely Gemini thing (unless we add fetching over SSH or something). Since there already exist Gemini<->HTTP proxies, and Newsboat has `exec:` for those who just need to fetch a single

[2020-11-16 16:03] #1251 closed

[2020-11-16 16:04] #1077 closed

[2020-11-16 16:52] h88e22dgpeps56sg commented on #1293
Thanks a lot. I really appreciate the lightning fast fixing of my two reported issues.

[2020-11-16 19:59] nadrad opened #1295 "Browser returned error code 127"
My newsboat installation was with apt, which is still version 2.13. To get a newer version, I just installed it using Snap, and now, I have version 2.21.

I've added my old cache, config file, and URL list, and everything works fine, except that I can't execute anything: When I try to open something in the browser, or run a macro, it gives me the "returned error code 127". Can someone help me with

[2020-11-16 20:14] Minoru commented on #1295
Hi! That code is returned by the shell, and means "command not found". I think this is a manifestation of #121. You'll have to change the browser to `xdg-open`, and rewrite your macros to use that somehow, too. Please see #121 for details.

[2020-11-16 20:14] #1295 closed

[2020-11-16 22:11] nadrad commented on #1295
Thanks for the help.
It seems that I can't run my shell scripts in a setup like this, and since I'm not sophisticated enough to install from source, I'm going back to the old apt version :)

[2020-11-17 00:00] dennisschagt commented on #1291
Thank you for testing the idea!

A small note: You can run Newsboat directly from the source directory without installing it (just execute `./newsboat`).

Like Minoru, I think it is likely that the server is closing the connection after 60 seconds.
I tested Newsboat with a small HTTPS server which waits for 60 seconds and then closes the connection without sending any data.
This can be seen in Wir

[2020-11-17 09:24] plsdosomething commented on #1291
Thank you very much for your answers.
I think I got the problem. It's my VPN because of some strange reasons. When I'm connected to it, the server closes the newsboat connection after 60 seconds, but allows the browser connection to operate normally.
When I'm not connected with the VPN both works fine. I didn't think about it before because the browser loading worked but I tested it with tcpdump a

[2020-11-17 10:03] Minoru commented on #1291
Thanks for the logs! Clearly, the server can somehow tell Newsboat and Firefox apart.

Did you try the `always-download` setting I suggested? What if you combine it with `user-agent`, to make Newsboat look even more like a browser?

I think the only remaining thing that could identify Newsboat are cookies. @plsdosomething, can you please try downloading the feed using Private mode in Firefox? Open

[2020-11-17 10:44] dennisschagt commented on #1291
From your logs, the only noteworthy thing I could find:
[code]

It looks like Firefox (with VPN active) sends some data 59 seconds after setting up the connection (57 seconds after previous data packet).
Some of my thoughts:
- It might be the VPN server which closes the connection if there is no data packet in the last 60 seconds.
- Maybe the browser has a proxy configured (maybe configured by the

[2020-11-17 20:31] plsdosomething commented on #1291
@Minoru I now have tried the always-download option (alone and together with the user-agent option) and unfortunately it doesn't change anything as far as I can notice.
I tried to look for a difference between a connection with the normal browser window and a private window and couldn't find one. In the connection establishment from the normal window more packages were transferred but the result w

[2020-11-18 11:34] Minoru commented on #1291
Thanks!

That's expected: the connection is encrypted, and only the client (Firefox, Newsboat etc.) and the server have the decryption key. Even you, running a program at the same machine, can't read that data. You can [instruct Firefox to give you the TLS key](https://gitlab.com/wireshark/wireshark/-/wikis/TLS#tls-decryption) so you can read the data in Wireshark. Newsboat uses libcurl, so perhap

[2020-11-19 20:16] #1292 closed

[2020-11-20 10:05] #921 closed

[2020-11-20 12:43] dennisschagt commented on #1291
Thanks for the suggestion, I wasn't aware of that possibility.

I still think it might be useful is to take a look at the data being transmitted 55-59 seconds after connection start (by Firefox), using the wireshark/TLS-key instructions mentioned by Minoru.
Other than that, I don't have any more guesses.

[2020-11-20 15:58] dennisschagt commented on #743
Changing the `rss_item.guid` format will cause all items to be duplicated in the cache.
Some possible solutions/workarounds:
1. Create a script (or sqlite query) which users can execute to remove duplicates (only needs to be executed once)
    - Disadvantage: Requires effort from ocnews users, even those who are not interested in the "flag->starred" feature.
2. Remove duplicates in Newsboat itself

[2020-11-20 20:43] Minoru commented on #743
Right. I didn't consider that.

Without re-reading their docs, the best I can suggest is taking option 3 and adding a cache to it: either a new column in `rss_item` table, or a new table altogether (using a foreign key on `rss_item.guid` or something like that).

I meant the `url` column in the `rss_item` table, but yeah, it maps to `rsspp::Item::link`.

So much for that idea then :)

[2020-11-20 21:21] dennisschagt opened #1298 "ItemView: Scrolling is reset when resizing terminal"
**Newsboat version**: newsboat r2.21-185-g2cdd7

Config file:

[code]

Urls file:
[code]

Steps to reproduce the issue:

1. Open an article with enough text to fill all lines of the terminal

2. Scroll down a few lines

3. Resize the terminal

**Expected behaviour**: The same line should be kept at the top of the screen

**Actual behaviour**: The textview scrolls to the top of the article

**Other

[2020-11-20 21:57] dennisschagt commented on #1298
Apparently the ItemViewFormAction always resets the scroll offset to 0 if `do_redraw == true`:
https://github.com/newsboat/newsboat/blob/7efb55f908d81b971c2bdfa2c37fd9c0e16aa8e5/src/itemviewformaction.cpp#L144

[2020-11-21 13:48] Minoru commented on #1298
The history of this line is a bit weird:

- introduced for no apparent reason in https://github.com/newsboat/newsboat/commit/805a249ba75b21a0abb0c3849e9381ca1f9d98b0 — but note that it's run *once*, because Newsbeuter didn't have redraws at that point;
- later moved to where it is today: https://github.com/newsboat/newsboat/commit/ea818e24a73a13577f8125e031b76f4bd3f83399 Here it actually makes som

[2020-11-21 19:31] dennisschagt commented on #1298
It looks like there are more reasons to let the textview move to the first line again.
For example, with OP_NEXT, the same FormAction instance will show a different article.
When changing to a different article, it seems natural to change to the top of the article again.

Some other operations which change the selected article:
https://github.com/newsboat/newsboat/blob/ef2531d7cc17f74e427c436b9533

[2020-11-21 20:24] Minoru commented on #1298
Yeah, makes sense when switching between articles.

Also, for resizing it makes sense because the number of lines might have changed after a re-flow. Line 20 at width 160 will probably become line 40 at width 80 (depends on actual text of course). Just resetting the position is an easy way out. Coming up with a more intelligent algorithm sounds like a pretty interesting problem, actually :)

[2020-11-22 14:23] PresGas opened #1300 "double free or corruption (out) core dump on large sized js enabled site."
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: newsboat r2.21

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Select article from rss feed with what looks like a large payload (js)

2. newsboat crashes

3. double free or corruption (out)

**Other info you think is relevant**: The rss feed

[2020-11-22 15:21] Minoru commented on #1300
Reproduced with r2.21-213-gef253 and empty config. It appears that this line pops from an empty vector:

https://github.com/newsboat/newsboat/blob/ef2531d7cc17f74e427c436b95330415c69a8368/src/htmlrenderer.cpp#L640

I'm minimizing the feed, and once I got a minimal test, I'll see how this should be fixed.

Thank you for the report, @PresGas!

[2020-11-22 17:13] PresGas commented on #1300
Thanks so much for the quick replication, @Minoru !

I've been a user since the early newsbeuter days. The project is in good hands.

[2020-11-23 16:21] PresGas commented on #1300
An additional data point. I noticed the same article got "updated" in the planet I am following. So some readers (of which a planet is a sort of reader aggregate), may occasionally "update" an old article and re-view it as unread. I know newsboat has that feature.

It seems to be the same article with a different size.

[2020-11-23 17:19] Minoru commented on #1300
Ah, sorry I didn't write about it here. I already tracked this bug down: it's caused by the HTML inside the \<script> tag. Newsboat doesn't properly skip the body of the script, gets confused by the HTML, and corrupts its own memory. This is fixed in #1302, which you can build and try out if you have all the necessary libraries and tools (see README).

If no other issues will be found with that pu

[2020-11-24 11:29] herrsimon opened #1309 "Support for multiple authors per Atom feed entry"
Hello,

the Atom 1.0 specification allows multiple <author> nodes per entry and it would be nice if newsboat would become aware of this (currently only the first encountered author node is parsed). In particular:

- support aggregation of multiple authors in article lists, so that for example "Author A, Author B, Author C" can be displayed in the author column of a multi-author entry. This could f

[2020-11-24 19:52] Minoru commented on #1309
Hi! What version of Newsboat are you running?

This [has been done](https://github.com/newsboat/newsboat/pull/846) in Newsboat 2.20.

People highlight the article header and rely on the "Author: " prefix, so I'm hesitant to introduce such a change. Do you have an argument for it?

Well, we already packed all the authors into the "author" attribute, so the best you can do is use regular expressions

[2020-11-24 20:16] Minoru commented on #1291
@plsdosomething Ping? Would you like to try extracting keys from Firefox, and looking at the decrypted traffic, following the instructions I linked above?

[2020-11-24 20:25] Minoru opened #1311 "Try LLVM code coverage instrumentation"
grcov, the tool we use to gather code coverage metrics, [got support](https://github.com/mozilla/grcov/issues/509#issuecomment-732817023) for new LLVM machinery in version 0.6.0. This new instrumentation ostensibly provides better accuracy than the gcov format. I think we should try it for our Coveralls job.

TODO:
- [ ] try it out locally. Take inspiration from [our Coveralls job](https://github.

[2020-11-24 20:55] herrsimon commented on #1309
My apologies, I'm actually on Newsboat 2.21 but my "test" feed was fetched a long time ago with a version before support for multiple authors. So a simple feed refresh made all authors appear (and my problems disappear).

Also, keeping all authors on a single line as currently done is actually much better than adding them on separate lines (each line prepended by "Author: ") .

Sorry again!

[2020-11-24 20:55] #1309 closed

[2020-11-24 21:04] herrsimon opened #1312 "[bug] Whitespace between line breaks in <title> is not collapsed properly"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**: 2.21.0

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Whitespace appearing between line breaks in <title> node is not collapsed properly
Steps to reproduce the issue:

Make /tmp/testfeed.sh output a feed with an entry containing a linebreak followed by some spaces in the <ti

[2020-11-24 22:17] Minoru commented on #1312
This is a duplicate of #1227, which is already fixed and will be released as part of Newsboat 2.22 at the end of December. Thanks for an easily reproducible bug report, though!

Note that the example output you provided doesn't contain a closing \<title> tag, and so Newsboat includes "Summary" and "Jon Doe" into the item title. If I'm reading [RFC 4287](https://tools.ietf.org/html/rfc4287) correct

[2020-11-24 22:17] #1312 closed

[2020-11-24 23:07] herrsimon commented on #1312
Great, thanks a lot! Just started using newsboat but it's already clear that I made the right choice with a community that knowledgeable and fast to respond!

PS: No arguing about the Atom spec, but probably about a missing slash in my sample output...

[2020-11-24 23:11] Minoru commented on #1312
Hey, welcome aboard! :) Let's see if you change your mind once you've run into more serious bugs that we weren't able to fix yet. :P

[2020-11-25 19:43] #1300 closed

[2020-11-26 18:04] #1139 closed

[2020-11-26 19:32] #1270 closed

[2020-11-27 01:48] #423 closed

[2020-11-27 17:29] dennisschagt opened #1318 "Second instance of Newsboat not successful if configured with `cache-file` option in `config`"
**Newsboat version**: newsboat r2.21-252-gbe895

### Config files
1.config
[code]
2.config
[code]

Steps to reproduce the issue:

1. Start newsboat with config 1: `newsboat --url-file=1.urls --config-file=1.config`

2. Start another newsboat instance with config 2: `newsboat --url-file=2.urls --config-file=2.config`

3. Observe that second Newsboat instance doesn't start, even though they will use

[2020-11-28 09:25] daniel-dietrich opened #1320 "Add option to center contents with limited text-width"
I believe one of the main selling points of feed readers is their distraction-free nature and comfort of use. In my experience, having text centered with narrow width limit in maximized window is the most enjoyable way to read. Currently I was able to only limit the text width.

[2020-11-28 13:51] #1225 closed

[2020-11-28 14:38] Minoru commented on #1320
Hi, thanks for opening the issue!

I think the option makes sense. I'll accept a pull request adding it.

A few thoughts:
* if `html-renderer` is set, `text-width` doesn't apply — the new setting probably shouldn't apply either;
* we should make sure that the text stays centred even when the window is resized.

[2020-11-28 15:59] Minoru commented on #822
macOS on Cirrus seem to be rock-stable these days; I haven't seen it fail in a while. I consider this issue resolved.

[2020-11-28 15:59] #822 closed

[2020-11-28 16:00] Minoru commented on #582
#1305 moved Coveralls to GitHub Actions, so this issue is outdated. I don't plan to move the coverage job anywhere else, so I'm closing this.

[2020-11-28 16:00] #582 closed

[2020-11-28 16:02] Minoru commented on #387
This is coupled (or at least related) to #1298.

[2020-11-28 16:05] Minoru commented on #207
3.0 (whenever that happens) would be a nice opportunity to flip the default, so I've added this issue to that milestone.

[2020-11-28 17:04] Minoru commented on #249
It's been a while, and I can't fully reproduce this anymore: with GCC 10.2.0 and Rust 1.44, I don't get a crash; instead, the item list gets slightly borked.

On master (be89592ff6a10243d09ca109f4733049973617af), though, everything works just fine — no crash, no borking. The bisect points to 2f74873bc611f90b996293986cc2126db4b9aa27, but I don't see how it could fix anything here.

Anyway, bug's go

[2020-11-28 17:04] #249 closed

[2020-11-29 20:06] amritbrar commented on #475
@Minoru Here was my idea for the `contrib/README.md`:

Contributed Software
----------------------------

`contrib/` contains interesting or useful software that has been contributed by
the community.  The intention is to keep them all in one place which is easily
accessible for users looking to extend `Newsboat`.

Important things to note about `contrib/`:
* Scripts are considered to be experimen

[2020-11-29 21:10] Minoru commented on #475
This looks great! :+1:

I'd mention it at the end of Quickstart section in the HTML doc. That way, people learn about contrib/ *after* they got the basic setup going, but *before* they spent a ton of time reading the rest of the doc. If they are aware of contrib/ while reading the doc, they can look into contrib/ for examples of what they're reading about.

Manpage is a reference, I don't think co

[2020-11-29 22:04] amritbrar commented on #475
https://newsboat.org/releases/2.21/docs/newsboat.html doesn't have "Quickstart" from what I can tell, do you mean at the end of `First Steps`?

[2020-11-29 22:07] Minoru commented on #475
Yeah, sorry, I meant "First Steps".

[2020-11-30 03:04] bitcoinmeetups opened #1322 "Is it possible to automatically save all items from all feeds as text files using newsboat?"
Hi,

This is BM.

Is it possible to automatically save all items from all feeds as text files using newsboat?

This would be a very useful feature.

[2020-11-30 14:04] ZaxonXP opened #1323 "Date format in article list as "X days ago""
Is it possible to display the article list with the dates like `X days ago`?

[2020-11-30 17:39] Minoru commented on #1322
Hi! Can you describe the end goal? Is this some sort of export, or backup, or what?

[2020-11-30 17:52] Minoru commented on #1323
It's not currently possible, but I think it makes sense to support this.

The format is configured by [`datetime-format`](https://newsboat.org/releases/2.21/docs/newsboat.html#datetime-format), which `ItemListFormAction::item2formatted_line()` [feeds](https://github.com/newsboat/newsboat/blob/de06ef817efe90c3868be3f79f40faaccdb29df4/src/itemlistformaction.cpp#L1043-L1046) into `strftime()` [via `u

[2020-11-30 19:40] #475 closed

[2020-11-30 21:02] #1318 closed

[2020-11-30 21:11] bitcoinmeetups commented on #1322
Use cases:

Notification systems
Reports
Convenient sharing
Other

I have been into RSS for a long time. This would be a killer feature.

[2020-11-30 21:47] Minoru commented on #1322
No, I mean you specifically: what do you intend to do with this feature? Can you explain in terms like "I'm using <Newsboat's feature X> but it has \<limitation> so I'd like to be able to save all articles of all feeds"?

[2020-12-01 02:34] amritbrar commented on #1323
%L, %o, %N, %K and %f are some of the few that are available. I've checked Linux, FreeBSD, macOS, and OpenBSD. Windows Subsystem for Linux installs Ubuntu by default, so it's also covered.

Would you search `const std::string& datetime_format` for the letter (say %L), and if it's found, compute time difference in days, otherwise, do `utils::mt_strf_localtime(datetime_format, item.first->pubDate_ti

[2020-12-01 10:44] Minoru commented on #1323
Thanks for looking into it! There are even fewer spare letters than I imagined :)

My idea was to *supplement* `strftime`: replace %L first, then use the result as a format for `strftime`.

Also, `FmtStrFormatter` is a wrong tool for this, because it expands formats like `%>[char]`. It's better to use `utils::replace_all`. (This is funny: I just pointed this out during a review in one of the PRs a

[2020-12-01 18:48] amritbrar commented on #1323
I'll submit a draft PR shortly, we can discuss the rest there.

[2020-12-02 08:36] #635 closed

[2020-12-02 09:31] dennisschagt commented on #1223
Closing this as it seems to be an issue with the specific Nextcloud instance.

Feel free to reopen if you have any reason to believe this is caused by Newsboat.

[2020-12-02 09:31] #1223 closed

[2020-12-02 10:51] Minoru commented on #1200
@thezeroalpha Sorry it took me so long to get out a new version of the PR — it got blocked on internal changes that turned out to be *much* harder than I anticipated. But I just pushed a new version, so if you haven't torn down the build setup yet, it'd be nice if you could test that one as well. Thanks for your patience!

[2020-12-02 16:40] Minoru commented on #1291
Okay, I think we did all we could on our end, so I'm closing this one.

[2020-12-02 16:40] #1291 closed

[2020-12-03 01:02] ATM-SALEH commented on #545
Apologies for responding after a long time. Had a quite busy few weeks.

I had a quick look at this one and have a question

If we get a non-zero return code from [rename](https://linux.die.net/man/3/rename), should we update `status` to some value that indicates error (like, using `dl->set_status(DlStatus::FAILED)`)? Or it should fail silently, without notifying the user?

[2020-12-03 12:04] emanruse opened #1330 "Any article deleted in search results remains after returning to article list"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
[code]
Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

### Steps to reproduce the issue:

1. Search for some string, e.g. press '/' and type it
2. In search results press Shift+d to delete an unread article - 'D' shows up next to it
3. Press 'q' to return to article list

###

[2020-12-03 16:37] Minoru commented on #545
Hey, no problem! Yes, I think it should set the status to "failed", and display an error message in the status bar at the bottom of the screen.

[2020-12-03 16:51] Minoru commented on #1330
Thanks for the report! I reproduced this with newsboat r2.21-271-g1428.

Previous report in Newsbeuter: https://github.com/akrennmair/newsbeuter/issues/121 Similar issue in Newsboat: https://github.com/newsboat/newsboat/issues/886

[2020-12-03 21:37] Minoru commented on #1322
@bitcoinmeetups, ping?

[2020-12-04 14:54] #1323 closed

[2020-12-04 16:00] #314 closed

[2020-12-04 18:27] #1200 closed

[2020-12-05 12:05] graysky2 commented on #1157
Some examples based on this conversation: https://github.com/graysky2/newsboat_custom_stuff

[2020-12-06 08:21] zengbs opened #1334 "Automatically jump to the bottom of article list when opening feed."
Dear developers,

Is it possible to automatically move the cursor to the bottom of article-list when opening a feed? Because the latest article is exactly at the bottom of article-list (i.e. `article-sort-order date-desc` in config file).

Best,
Thanks.

[2020-12-06 11:50] Minoru commented on #1334
Hi! It's not currently possible, and I don't quite see why you'd even want this. Why not set the order to `date-asc`? Presumably you want to read other articles to, and scanning the list from the bottom up is less natural than going from top down (or is it only so in my culture?) Can you provide a bit more explanation of how this setup is useful?

[2020-12-06 12:51] zengbs commented on #1334
Dear @Minoru,

Since the article list following `date-desc` is the same as the text flow in terminal on Linux.
i.e.
[code]
If newsboat can do this, then Linux users won't need to spend some time adapting to switch between terminal (bottom-up text flow) and the article list in the newsboat (top-down text flow).

Best,

[2020-12-06 13:37] Minoru commented on #1334
Sorry, but I don't find this argument convincing at all. Terminal users already spend time adapting when they read the *output* of those commands. They also adapt every time they launch Vim (which displays the first line of the file at the top, not at the bottom) and when they read articles in Newsboat (which too start at the top). Ditto with numerous other applications: pagers, TaskWarrior, Mutt

[2020-12-06 13:37] #1334 closed

[2020-12-06 14:00] zengbs commented on #1334
Actually, #1165 is the exact solution I am looking for! Thanks!

[2020-12-06 16:07] Minoru commented on #1334
Oh, cool! I feel less cruel now :)

[2020-12-06 16:07] #844 closed

[2020-12-06 16:47] Minoru opened #1336 "Documentation should explain that operations take arguments"
Our docs don't mention this, but some operations accept arguments:

[code]

In case of `edit-flags`, the argument is the new set of flags for the item (the old ones are dropped). If that argument is absent, `edit-flags` would ask for flags interactively, but it will also pre-fill the answer with the current flags.

In case of `toggle-article-read`, the argument lets the user set the unread status

[2020-12-06 17:24] #801 closed

[2020-12-06 18:43] thezeroalpha commented on #1200
@Minoru Totally understandable, no worries. I've checked the version merged as part of #1203, everything works fine for me. Thank you for your work on this!

[2020-12-07 05:57] annata83 opened #1337 "mpv --autofit Syntax Help."
This is what I am currently using:

`macro y set browser "mpv %u" ; open-in-browser ; set browser "w3m %u"`

Wich streams in 1080.

I would like an option to stream in 480 to use When I am on the go like so:

`macro t set browser "mpv --autofit 640x480 %u" ; open-in-browser ; set browser "w3m %u"`

But I dont know how to use the correct syntax.

[2020-12-07 06:26] Minoru commented on #1337
Hi!

This has a single quote in `set browser "'mpv %u"`, are you sure this macro even works?

This looks correct both from Newsboat's and MPV's point of view (if I'm reading MPV's manpage correctly). Is Newsboat giving you any errors?

[2020-12-07 17:10] #723 closed

[2020-12-07 17:45] Minoru opened #1344 "Audit for problems similar to #723 and #844"
#723 and #824 are essentially the same bug: Newsboat's internals assume that strings are represented in UTF-8, but Newsboat doesn't always check the encoding of its inputs. We now fixed the urls file and the config file, and RSS/Atom parsers should be okay too, but we have a few more files to check:

- queue file handled by `QueueLoader` and `QueueManager` classes
- history files (search and cmdli

[2020-12-07 18:36] dennisschagt opened #1345 "`set <variable> <value>` does not support (escaped) double quotes when used in macros"
**Newsboat version**: commit f5a756b3b8be6bb19d1d6c68aa15a275c839a4e3 (master)

Config file:

[code]

Steps to reproduce the issue:

1. Press `o`

2. Press `,ao`

3. Press `,bo`

4. Quit newsboat

Expected output in terminal:
[code]

Actual output in terminal:
[code]

**Other info you think is relevant**:
![image](https://user-images.githubusercontent.com/4629607/101389362-9be12800-38c1-11eb-8425-

[2020-12-07 22:29] herrsimon opened #1346 "Make textwrap in 'save' configurable"
Hello,

when saving articles, lines are wrapped so that the resulting textfile has 80 columns. The same is true when piping an article through a script. While this certainly aids readability, it is not optimal for all users and in particular, when piping an article to a script (which then typically unwraps again to parse the headers).

Therefore, it would be nice to introduce a 'wrap-on-save-and-p

[2020-12-08 01:33] annata83 commented on #1337
_Hi and thanks for responding,_

_You are right, I miss type that one. I edit the original question._

_Yes; here:_
`Error parsing commandline option autofit: option requires parameter`

[2020-12-08 08:07] Minoru commented on #1337
I think you need an equals sign between the option and the value: --autofit=640x480. Try it in the terminal, and once you got it working, copy it into the Newsboat's config.

[2020-12-08 09:42] Minoru commented on #1346
There's an issue about `pipe-to` already: #833.

I'm ok with adding an option for this, but I think `pipe-to` and `save` should have separate ones because there is no inherent connection between those two operations, and I don't think it make sense to couple their settings.

[2020-12-08 11:05] herrsimon commented on #833
As a new user of newsboat I perceived the wrapping as problematic rather quickly: I'm monitoring new research articles via feeds and would like to use pipe-to in order to parse a relevant feed item (i.e. article) and then add it to a read later list. Therefore, like diamond-lizard writes, parsing would be much easier if no wrapping would occur.
Header lines (Title, Author etc.) can of course be un

[2020-12-08 11:05] herrsimon commented on #1346
I agree that pipe-to and save should have sepearate options.

[2020-12-08 11:24] bitcoinmeetups commented on #1322
Hi,

Here is a concrete example.

Reddit is great. But it has a problem. E-mail notifications don't work properly. I never get an e-mail notification when I get an inbox message, even though it's turned on in the settings.

Workaround using Newsboat:

The Reddit inbox has a notifications feed in RSS format.

If I could get Newsboat to automatically check that feed every x minutes/hour and download

[2020-12-08 11:39] Minoru commented on #1322
Yep, that's much clearer, thank you! Unfortunately, I think this kind of automation is out of scope for Newsboat, which is a rather human-driven program. I think you should take a look at [rsstail](https://www.vanheusden.com/rsstail/) instead, or at one of the myriad RSS/Atom libraries that exist for every programming language out there. They'll serve your needs much better than Newsboat could.

[2020-12-08 11:39] #1322 closed

[2020-12-09 18:15] ilakast opened #1351 "error while loading shared libraries: libjson-c.so.3 Ubuntu 20.04"
I am afraid I cannot provide the version (it is not 2.18 from the repositories, but a newer version) because newsboat fails to load since it appears that libjson-c3 has been replaced with libjson-c4 in Ubuntu 20.04. Newsboat was working fine prior to me upgrading from 18.04 to 20.04.

[2020-12-09 18:56] Minoru commented on #1351
There are a couple ways for you to fix this:

1. build Newsboat against the library you have;
2. install the library that the old build of Newsboat wants;
3. install Newsboat from the Snap Store, which carries a newer version that Ubuntu APT repos.

How did you install a newer version on Ubuntu 18.04? It's probably easiest for you to repeat the same process on Ubuntu 20.04.

[2020-12-09 20:16] ilakast commented on #1351
Thank you. I compiled from source on Ubuntu 18.04. I took your suggestion, but `make` stops with the following error which I cannot decipher
`g++ -std=c++11 -O2 -ggdb -Iinclude -Istfl -Ifilter -I. -Irss -Itarget/cxxbridge/libnewsboat-ffi/src/ -Werror -Wall -Wextra -Wunreachable-code -DLOCALEDIR='"/usr/local/share/locale"' -I/usr/include/x86_64-linux-gnu -I/usr/include/libxml2 -I/usr/include/json-c

[2020-12-10 10:28] Minoru commented on #1337
Hey @annata83, did you have any luck with `--autofit=640x480`?

[2020-12-10 10:54] Minoru commented on #1351
This warning comes from a third-party library we use, and it's pretty innocuous. I think we know what we're doing there :)

We turn warnings into errors to nudge users into reporting these things, so thanks for doing exactly that! Looks like we are not seeing this in CI because we don't compile with optimizations enabled on Ubuntu 20.04. I'll think what should be done about this.

Meanwhile, you c

[2020-12-10 11:21] #1345 closed

[2020-12-10 11:44] Minoru opened #1354 "Correct issues spotted by translators"
This issue is a collection of problems in our translatable strings:

- https://github.com/newsboat/newsboat/pull/1341#discussion_r537651337 (not clear that "between" is an operator and shouldn't be translated)
- https://github.com/newsboat/newsboat/pull/1349#discussion_r538748819 (one of the help messages is not a single sentence like all others)
- https://github.com/newsboat/newsboat/pull/1352#di

[2020-12-10 15:19] der-lyse commented on #1354
The only other minor thing I noticed, is a kind of inconsistency where newer error reasons are put in parenthesis rather than appending them after a colon, e.g.

[code]

Sometimes filenames are quoted, sometimes not:

[code]

Some use single quotes instead:

[code]

Others follow the backtick and single quote approach:

[code]

I'm a fan of quoting things, whenever possible and there's no better w

[2020-12-10 21:51] annata83 commented on #1337
yes it work, Meaning it plays the link given But, still stream in high quality:

`(+) Video --vid=1 (*) (vp9 1280x720 25.000fps)`

[2020-12-10 22:18] dennisschagt commented on #1337
It is indeed best to try the command in the terminal first.

---

I believe mpv uses youtube-dl for streaming videos from many sites.
You could try to use mpv's `--ytdl-format` flag with the videos you want to watch, e.g.:
`mpv --ytdl-format='bestvideo[height<=?480]+bestaudio/best' https://www.youtube.com/watch?v=ap-BkkrRg-o`

If that works correctly with the URLs you want to use, you could config

[2020-12-10 22:29] annata83 commented on #1337
_Hey,, I was going thru that secction of the mpv man page more exacly I was reading this:_
**`--ytdl-format=<ytdl|best|worst|mp4|webm|...>`**
_I have no idea  how you come up with_ `bestvideo[height<=?480]` _but that's exacly rigth, it work like a charm!_
_Sorry to have come here for help over mpv syntax! Your guys have help me a lot; hope other people fond it useful some day to!._
 !

[2020-12-10 22:29] #1337 closed

[2020-12-11 08:38] ilakast commented on #1351
I cannot thank you enough; I would have never been able to sort this out without your help. Installed fine now. Happy days

[2020-12-11 14:46] Minoru commented on #1354
Quotes have their own issue already: #901, but the other two are new, so I'll add them to the top post. Thanks!

[2020-12-11 15:23] Minoru commented on #1351
Cool, glad you got it working! By the way, the warnings that you mentioned are now fixed by https://github.com/newsboat/newsboat/pull/1347, so 2.22 release won't have them. Funny that once you've reported them, our CI started displaying them as well :)

[2020-12-12 21:51] Minoru opened #1357 "CliArgsParser: replace `Vec<String>` with `Vec<OsString>` in `argv`"
https://github.com/newsboat/newsboat/pull/1356 uncovered a design flaw in `CliArgsParser` that could become a source of bugs: we treat command-line arguments as `String`'s, which use UTF-8 internally. However, the OS gives us no guarantees regarding the encoding of the arguments. In fact, one of the arguments could be a path, which on Unix is just a bunch of bytes with no specific encoding whatsoe

[2020-12-13 19:17] nick-cd commented on #1184
Hey @Minoru! I was thinking about doing this one. I have a couple of questions:

Do you think it would make sense to implement this logic you're describing in `Cache::cleanup_cache()`?

Another thing, this patch would involve adding a new print statement, so would it make more sense to submit a PR after the release? I'd hate to add a new print statement after all the translators did all their work

[2020-12-13 20:36] Minoru commented on #1184
Sounds like a good starting point. Depending on how much code its ends up adding, it might make sense to move it into a separate method that gets called from `cleanup_cache()`.

I think you can submit it right away, I just won't merge it until the release is out. Even if you already have all the code right now, the review will take a bit, and then it's just a few days until the release — I don't t

[2020-12-15 16:20] Jorval commented on #228
Hey,
is the help screen editable? or is it build from the bindkey in config?

a editable helpscreen would be nice so someone could also add his flags to the screen (i know someone who has an additional file for this. )

[2020-12-15 16:27] Minoru commented on #228
It's generated automatically from the key bindings in the config, plus the defaults. How do you envision the config syntax to add info to the help screen, @Jorval?

[2020-12-15 16:37] Jorval commented on #228
a simple file say _flags.md_ that is attached after the generation at the bottom ?
maybe that leads to scrolling

or maybe a seperate dialog that shows the content of such a file ?

its not a big deal. but falgs are very versatile and individual. i have a md file for that.
the most obviously (R)eadLater is in a header before the query.

[2020-12-15 16:39] emanruse opened #1360 "ignore-mode "display" makes possible to delete invisible articles"
[code]

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

0. Have some articles in a feed with certain url containing some 'keyword' in content body

1. In config set
[code]

2. Run newsboat and open the feed (the killfile works fine)
4. Press CTRL+D to delete all articles visible in the feed
5. Exit newsboat
6. Remove the 'ignore-arti

[2020-12-15 16:41] emanruse opened #1361 "Confusing behavior of ignore-mode "download""
If `ignore-mode "download"` is set, the common sense expectation is non-visible articles not to exist in local cache. However, when set *after* the articles have already been downloaded, they remain.

This is not really a bug, but it deserves some attention. Possible solutions:

1. The downloaded (and invisible) articles should be deleted to match the expectation of a clean local cache (perhaps af

[2020-12-15 16:42] emanruse opened #1362 "[feature request]: Option for horizontal scrolling"
On small screens it would be very useful to be able to quick scroll the article list to the right (and back). Some feeds have really long titles and opening each one sometimes takes too much time.

[2020-12-15 16:53] Minoru opened #1363 "Display a "notes file" at the bottom of the help dialog"
a simple file say _flags.md_ that is attached after the generation at the bottom ?
maybe that leads to scrolling

or maybe a seperate dialog that shows the content of such a file ?

its not a big deal. but falgs are very versatile and individual. i have a md file for that.
the most obviously (R)eadLater is in a header before the query.

_Originally posted by @Jorval in https://github.com/newsboat/

[2020-12-15 16:53] Minoru commented on #228
That sounds okay. Let's discuss this further in #1363, @Jorval.

[2020-12-15 16:57] Minoru commented on #1363
Some quick notes and ideas from me:

* I don't want to add a Markdown renderer into Newsboat, so let's treat the file as plain text, to be displayed verbatim. I think the only processing we should do is word-wrap long lines (since we don't have vertical scrolling)
* I think this feature would be useful not just for flags, so let's give the file a more generic name; "help_notes.txt" maybe?
* I thin

[2020-12-15 17:04] Minoru commented on #1360
Thank you for the report! I don't have time to reproduce this right now, but I'll get back to you once I did.

[2020-12-15 17:05] Jorval commented on #1363
* a plain txt file is absolutly fine. i use md only because it's a habit. (and using glow to render them nicely in vte) but a textfile is perfect.
* of course someone can also use it for macros, cookierecipes ...
* yes absolutly this one belongs in XDG_CONFIG_DIR or ~/.newsboat

a just had a brief look in the code (and iam not a cpp coder) is it hard to create dialogs ? so is a usercreated dialog

[2020-12-15 17:14] Minoru commented on #1361
You're right, this option could've been more intuitive. Out of the approaches you listed, I'd prefer the second one, because it's backwards-compatible and lets people choose between keeping old items and deleting them retroactively.

Actually, the more I think about it, the more I wonder why Newsboat even has `ignore-mode "display"`. Isn't it the same as filtering the feed? I'll have to dive into

[2020-12-15 17:19] Minoru commented on #1362
Scrolling wouldn't be any faster: it's at least two keypresses, same as opening the article and quitting it.

I'm also not sure if STFL, our UI library, even supports it.

I'll accept a PR implementing this, though. It can probably add the same to Podboat #230 ;)

In the meantime, whenever you bump into a feed with long titles, you can just open one of the articles and use J/K (`next`/`prev`) to g

[2020-12-15 19:33] Minoru commented on #1363
A new dialog would be a couple hundred lines: a new file in the _stfl/_ (with STFL markup which can be easily copied from any other dialog), plus a new class derived from `FormAction` (similar to _include/helpformaction.h_ and _src/helpformaction.cpp_). But why? I don't see much benefit in having a separate dialog for this.

[2020-12-15 20:51] Jorval commented on #1363
i couldn't evalutae this, so i asked. ;)
my thought was giving the user the ability to make use of this fine dialog manager, for example to display there selfmade helpfile or note. on the other hand newsboat is a rss newsreader (and a very fine one) and following unxi and KISS principles and should not be overblown with thinks it doesn't really need.

i'am thankful that you consider maybe enhancin

[2020-12-16 11:12] emanruse commented on #1361
Agreed.

Yes.

[2020-12-16 11:12] emanruse commented on #1362
Not really. From usability viewpoint it is actually quite different, because opening an article results in a new, completely separate, UI layout, in which one no longer sees the article list. The two UIs serve different intent: skimming through the article list (titles that may catch attention for further reading) is different from diving into already chosen content, when the rest of the articles

[2020-12-18 05:49] tonycpsu opened #1364 "mark-feed-read when filter is applied should only mark visible items read"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:

`r2.21-362-g80f1`

Steps to reproduce the issue:

1. Apply a filter by pressing `F` and type in `title =~ "(string that's only in a subset of articles)"`

2. Press `A` to mark all read.

Expected: only visible articles are read, similar to if one had used `/` (`open-search`) to do the filtering instead of a f

[2020-12-18 22:54] Minoru commented on #1364
Reproduced on 8880ba431012964d62c8d798191995e53a58a99f, thanks for the report!

Exactly. Filters are applied at "display" time, by filtering out the items that don't match: https://github.com/newsboat/newsboat/blob/8880ba431012964d62c8d798191995e53a58a99f/src/itemlistformaction.cpp#L916-L923

Yes, I think the expected behaviour you describe is the correct one.

[2020-12-20 20:43] f6ADt opened #1367 "[Feature request] Filter feeds by total count per day/week/month"
Illustration example:
Feeds of larger platforms with several articles per day or week are combined together with blog feeds, whose authors post by far more rarely, like once or twice per month.
Now, when I create a custom query feed of unread articles for a certain tag, there is a risk, these blog feeds get hidden due to the sheer amount of other articles in larger feeds.

I would like to filter/p

[2020-12-21 11:57] Minoru commented on #1367
Interesting, thank you for the suggestion! If such a feature was implemented, there are a couple implications that I can think of:
- we should also provide a way to display the number for an individual feed, so the user can figure out which "buckets" they want to create
- we need to add real number support to the filter language, since the user would have to write "0.3/week" to filter for monthly

[2020-12-21 12:00] Minoru commented on #1367
Oh, one more thing:

Looking at the code, `total_count` is only handled in a single place, and there it returns the number of items in one particular feed: https://github.com/newsboat/newsboat/blob/119582d72d2dd25993d06b6f809e26944827237e/src/rssfeed.cpp#L153-L154 If your experiments show that it returns the count for *all* feeds, please file an issue with steps to reproduce this and we'll see wha

[2020-12-21 13:51] f6ADt commented on #1367
Yes, ideally there is one measure/number for each feed that states, how "active" this feed is, so you can use it as filter criteria.

Yeah, you might set
a) time interval like `per/week`
b) a number argument `N` to only include feeds with a *maximum* of `N` articles per time interval.

E.g. include all feeds with max. N=3 articles per week. Good idea to take week as the only interval and leave out

[2020-12-21 13:53] f6ADt commented on #1367
@Minoru concerning `total_count`: You are right! This has been a typo, I'll fix that in OP. I meant:

[2020-12-21 14:50] dennisschagt commented on #685
I'm working on some refactoring/fixing related to search results, however, I can no longer reproduce this issue.
It looks like this issue got fixed by https://github.com/newsboat/newsboat/commit/395617b46c5235a2062d305cc1353f40dbbf4668 (https://github.com/newsboat/newsboat/pull/1091).

[2020-12-21 15:47] dennisschagt opened #1369 "Newsboat draws over urls-editor after an automatic reload"
**Newsboat version**: 119582d72d2dd25993d06b6f809e26944827237e (current `master` branch)

Config file:
[code]

Steps to reproduce the issue:

1. Start Newsboat

2. Press shift+e

3. Wait for a minute

Newsboat draws over the editor, showing "empty formaction".
After quiting the drawn-over editor, Newsboat behaves strangely.

**Other info you think is relevant**:
git bisect points to https://github

[2020-12-21 16:06] Minoru commented on #1369
Ugh. I'm ignoring all other emails because I'm writing a changelog for 2.22, but this issue obviously deserves some attention. Thanks for catching this so early, I think you saved us all from 2.22.1 :)

Okay, so the problem is that `EmptyFormAction` has some STFL elements that Newsboat can update, and thus make STFL draw something. I don't know how to fix this systematically, the best I can sugges

[2020-12-21 16:15] dennisschagt commented on #1369
I just noticed it by accident so I'm happy it is still in time.

Sounds good.
I'm just checking if there are other places where this should be checked, e.g.:
https://github.com/newsboat/newsboat/blob/119582d72d2dd25993d06b6f809e26944827237e/src/view.cpp#L924-L932

[2020-12-21 18:23] #1369 closed

[2020-12-21 18:50] Minoru opened #1371 "Make it impossible to re-draw anything in EmptyFormAction"
#1370 fixed #1369, but in an unsustainable way (which is okay, see comments in the issue). When someone writes some new code that calls `Stfl::Form::run()`, they would have to remember to check that the `Form` doesn't belong to `EmptyFormAction`. Reviewers might fail to remember too, and then we'll have the bug again.

I feel like this could be fixed in a more thorough way (albeit with far more ef

[2020-12-22 04:41] polyzen opened #1372 "Performance regression bisected to 65f6f99a4220d81785fb31a0f64feca02265e106"
**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

https://github.com/polyzen/dotfiles/blob/master/workstation/.config/newsboat/config

Steps to reproduce the issue:

1. Have feed with ridiculous amount of articles (eg. 4282 articles)

2. Hold down key to scroll

3. newsboat lags and pe

[2020-12-22 04:42] polyzen commented on #1372
cc @dennisschagt

[2020-12-22 09:44] Minoru commented on #1372
Thank you for the report! I bisected to the same commit with an empty config. I don't yet understand how this commit causes the regression, but I'm looking into it.

[2020-12-22 10:50] Minoru commented on #1372
I traced this down to `ItemListFormAction::do_redraw` being constantly `true`, which makes the following `if` call `invalidate_list()` on each iteration, which in turns means Newsboat has to go through all items in the list and "format" them:

https://github.com/newsboat/newsboat/blob/fad9cc0b58fd257c9422bd2f8e5aab2e55acdf20/src/itemlistformaction.cpp#L1006-L1009

This is fixed by #1374.

I don't

[2020-12-22 12:09] #1372 closed

[2020-12-22 12:15] dennisschagt opened #1375 "Performance regression in Podboat"
**Newsboat version**: newsboat r2.22

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):

[code]

Steps to reproduce the issue:

1. Start podboat with a high number of podcasts queued

2. Use mouse-wheel to scroll up and down a few times

3. Press `q`

Expected: The scrolling up/down is handled quickly and podboat will thus quit quickly

Actual: Scrolling takes a (relatively)

[2020-12-22 15:53] #1184 closed

[2020-12-22 18:10] Minoru commented on #1367
No, "more options later" is exactly what I'm trying to *avoid* :) Newsboat has way too many knobs already, and I'd be a fool to set myself up for adding even more in the future. It's better to think this through at least a little bit.

Good point regarding dead feeds. Let's keep them out of this discussion then.

You don't have to: navigate to any one of them, and start tapping `n` (which executes

[2020-12-22 18:15] Minoru commented on #1375
I did not try to reproduce this because I'm feeling too lazy to create a large enough queue file, but it makes sense looking at the commit that created the regression. I guess the invalidation mechanism from itemlist could be implemented here (provided we tamed it in the itemlist... :)

[2020-12-22 21:35] f6ADt commented on #1367
I likely misunderstood your statement in the previous post.  By "posting frequency as a signal of interestingness/usefulness/relevancy" you meant that each article does not receive equal attention anymore? Yes, that is true. I would rather skim through a news feed with 500 articles per week, but would want to go through all my blog gems.

Shortcut `n` seems like a good idea, in addition to `A` to

[2020-12-22 21:41] polyzen commented on #1372
Just normal scrolling, though I should definitely clean out my articles. This is on a desktop with an i5-3570k, so it may affect users on slower systems with smaller article counts.

Before:

https://user-images.githubusercontent.com/3533182/102935315-d04a0c00-449d-11eb-999e-698751983cb0.mp4

After:

https://user-images.githubusercontent.com/3533182/102934934-0aff7480-449d-11eb-8f61-a46edee1ceb0.m

[2020-12-22 22:06] ZaxonXP opened #1377 "How to sync two instances of newsboat?"
I have newsboat running on the server which pulls new RSS data on regular basis.

I would like to have another instance of newsboat on my laptop and:
1) sync new rss data from the server instance.
2) sync back the new/modifications/deletions of the articles from client to server (after some reading offline).

I know all the data are kept in sqlite database files. I would appreciate any hints how t

[2020-12-22 22:57] mglh opened #1378 "Building v2.22 fails on Debian Stretch"
**Newsboat version: Source from newsboat-2.22.tar.xz**

Output of build process:

- [Coloring converted to HTML](https://paste2.org/v3PpcHNA)
- [Coloring stripped](https://paste2.org/8pFvsN9A)

"Progress bars" are missing in the latter.

I assume it's a problem on my system here, since its an older version of Debian.

Versions:

[code]

[2020-12-23 14:57] Minoru commented on #1372
Okay, okay, I'll release 2.22.1, say, on the 9th January 2021 — I'd like to wait a bit for 2.22 to get into distros and for people to report any more critical bugs.

[2020-12-23 15:07] Minoru commented on #1377
I believe the most common way is to use [one of the remote APIs we support](https://newsboat.org/releases/2.22/docs/newsboat.html#_newsboat_as_a_client_for_newsreading_services). If you want to just sync files manually, then:

1. close Newsboat (on both ends). You *might* get lucky copying the database while Newsboat is running, but most likely you'll corrupt the database instead;
2. copy at least

[2020-12-23 15:10] Minoru commented on #1378
Hi!

This is too old, we only guarantee 1.44 or newer to work. I forgot to include that in the changelog — sorry about it! You can install a newer version via rustup, or from Debian testing.

We also bump the requirement on each minor release, so e.g. Newsboat 2.22 will require Rust 1.46 or newer.

[2020-12-23 15:38] mglh commented on #1378
Thank you for your answer, and the hint pointing to `rustup`.
After installing rustc this way building succeeded flawlessly.

[2020-12-23 15:47] Minoru commented on #1378
Awesome! I'll close the issue then.

[2020-12-23 15:47] #1378 closed

[2020-12-23 15:50] mglh commented on #1378
I would suggest to add a check of the rustc version in `config.sh`,
and to add a recommendation  to run `config.sh` before running `make`
in `README.md`, if this appropriate.

[2020-12-23 16:15] Minoru commented on #1378
I doubt that adding anything to the README will help, since the Rust version is already listed there and you missed it ;) Also, we provide a *guarantee* of which version works, not a *requirement* of what version is needed — the difference is that an older version *might* work, we just don't know because we didn't check. So the best we would be able to do is a warning, which will quickly scroll of

[2020-12-23 16:24] mglh commented on #1378
Indeed, I did =:)

Perhaps something like `check_versions.sh`?

[2020-12-23 16:42] Minoru commented on #1378
That'd be misleading, because that script doesn't check versions. (Well, okay, it asks for at least libjson-c 0.11, but that's it). And I don't want to turn it into an autoconf-style `configure` because, as you probably know, autoconf got born out of people's frustration with writing those scripts by hand.